<div class="page-header">
    <div class="row align-items-end">
        <div class="col-sm mb-2 mb-sm-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-no-gutter">
                    <li class="breadcrumb-item">
                        <a class="breadcrumb-link" href="javascript:;">Genel</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Ayarlar</li>
                </ol>
            </nav>

            <h1 class="page-header-title">Ayarlar</h1>
        </div>
    </div>
    <!-- End Row -->
</div>

<div class="row">
    <div class="col-10">
        <div class="alert alert-white mb-5 mb-lg-7" role="alert">
            <div class="media align-items-center">
                <img class="avatar avatar-xl mr-3" src="./assets/svg/illustrations/yelling-reverse.svg"
                    alt="Image Description">

                <div class="media-body">
                    <h3 class="alert-heading mb-1">Dikkat!</h3>
                    <p class="mb-0">Uygulamanın genel ayarlarını bu form üzerinden yapabilirsiniz. Bu ayarlar
                        anketlerin otomatik olarak sonlandırılmasının kapatılması veya kullanıcılarınıza gidecek
                        doğrulama mailinin devre dışı bırakılması gibi ayarlardır.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="connectedAccountsSection" class="card mb-3 mb-lg-5">
    <div class="card-header">
        <h4 class="card-title">Uygulama Ayarları</h4>
    </div>


    <!-- Body -->
    <div class="card-body">
        <!-- Form -->
        <form>
            <div class="list-group list-group-lg list-group-flush list-group-no-gutters">
                <!-- List Item -->
                <div class="list-group-item">
                    <div class="media">
                        <img class="avatar avatar-xs mt-1 mr-3" src="./assets/svg/brands/google.svg"
                            alt="Image Description">

                        <div class="media-body">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5 class="mb-0">Varsayılan seçenek grubunu kullan</h5>
                                    <p class="font-size-sm mb-0">Ankete seçenek grubu verilmediğinde anket için
                                        varsayılan seçenek grubu aktif olur.</p>
                                </div>

                                <div class="col-auto">
                                    <!-- Checkbox Switch -->
                                    <label class="toggle-switch" for="useDefaultChoiceGroup">
                                        <input [(ngModel)]="settings.useDefaultChoiceGroup" name="useDefaultChoiceGroup"
                                            id="useDefaultChoiceGroup" type="checkbox" class="toggle-switch-input">
                                        <span class="toggle-switch-label">
                                            <span class="toggle-switch-indicator"></span>
                                        </span>
                                    </label>
                                    <!-- End Checkbox Switch -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End List Item -->

                <!-- List Item -->
                <div class="list-group-item">
                    <div class="media">
                        <img class="avatar avatar-xs mt-1 mr-3" src="./assets/svg/brands/spec.svg"
                            alt="Image Description">

                        <div class="media-body">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5 class="mb-0">Doğrulama E-Postası gönder</h5>
                                    <p class="font-size-sm mb-0">Kayıt olan kullanıcının aktif olması için bir doğrulama
                                        E-Postası gönder. Bu ayarı kapattığınızda kullanıcı otomatik olarak doğrulanır.
                                    </p>
                                </div>

                                <div class="col-auto">
                                    <!-- Checkbox Switch -->
                                    <label class="toggle-switch" for="sendConfirmationMail">
                                        <input [(ngModel)]="settings.sendConfirmationMail" name="sendConfirmationMail"
                                            id="sendConfirmationMail" type="checkbox" class="toggle-switch-input">
                                        <span class="toggle-switch-label">
                                            <span class="toggle-switch-indicator"></span>
                                        </span>
                                    </label>
                                    <!-- End Checkbox Switch -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End List Item -->

                <!-- List Item -->
                <div class="list-group-item">
                    <div class="media">
                        <img class="avatar avatar-xs mt-1 mr-3" src="./assets/svg/brands/slack.svg"
                            alt="Image Description">

                        <div class="media-body">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5 class="mb-0">Anketi Otomatik Sonlandır</h5>
                                    <p class="font-size-sm mb-0">Sonlanma tarihi gelen anketleri otomatik olarak
                                        sonlandır.
                                    </p>
                                </div>

                                <div class="col-auto">
                                    <!-- Checkbox Switch -->
                                    <label class="toggle-switch" for="disableAutomaticCloseSurvey">
                                        <input [(ngModel)]="settings.disableAutomaticCloseSurvey"
                                            id="disableAutomaticCloseSurvey" name="disableAutomaticCloseSurvey"
                                            type="checkbox" class="toggle-switch-input" checked="">
                                        <span class="toggle-switch-label">
                                            <span class="toggle-switch-indicator"></span>
                                        </span>
                                    </label>
                                    <!-- End Checkbox Switch -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End List Item -->
            </div>
        </form>
        <!-- End Form -->
    </div>
    <!-- End Body -->

    <div class="card-footer d-flex justify-content-end align-items-center">
        <button (click)="upsertCurrentSettings()" type="button" class="btn btn-primary"><i class="tio-add"></i> Kaydet
        </button>
    </div>
</div>