<div class="row justify-content-lg-center">
    <div class="col-lg-10">
        <!-- Profile Cover -->
        <div class="profile-cover">
            <div class="profile-cover-img-wrapper">
                <img class="profile-cover-img" src="./assets/img/1920x400/img1.jpg" alt="Image Description">
            </div>
        </div>
        <!-- End Profile Cover -->

        <!-- Profile Header -->
        <div class="text-center mb-5">
            <!-- Avatar -->

            <ng-template #hasimage>
                <div class="avatar avatar-xxl avatar-circle avatar-border-lg profile-cover-avatar">
                    <img class="avatar-img" src="{{data.image.fileName}}" alt="">
                    <span class="avatar-status avatar-status-success"></span>
                </div>
            </ng-template>

            <ng-template #noimage>
                <div
                    class="{{getAvatarClassNameByGender(data.gender)}} avatar-circle avatar-border-lg profile-cover-avatar">
                    <span class="avatar-initials">{{data.name[0]}}</span>
                </div>
            </ng-template>

            <div *ngIf="data.image != null then hasimage else noimage"></div>

            <!-- End Avatar -->

            <h1 class="page-header-title">{{data.title}} {{data.name}} {{data.surname}}<i
                    class="tio-verified tio-lg text-primary" data-toggle="tooltip" data-placement="top" title=""
                    data-original-title="Top endorsed"></i></h1>

            <!-- List -->
            <ul class="list-inline list-inline-m-1">
                <li class="list-inline-item">
                    <i class="tio-city mr-1"></i>
                    <span>{{data.systemOwner ? 'Sistem sahibi' : 'Yönetici'}}</span>
                </li>

                <li class="list-inline-item">
                    <i class="tio-date-range mr-1"></i>
                    <span>Katılım: {{data.creationAt | date: 'dd.MM.yyyy hh:mm'}}</span>
                </li>
            </ul>
            <!-- End List -->
        </div>
        <!-- End Profile Header -->

        <div class="js-nav-scroller hs-nav-scroller-horizontal mb-5">
            <span class="hs-nav-scroller-arrow-prev" style="display: none;">
                <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                    <i class="tio-chevron-left"></i>
                </a>
            </span>


            <ul class="nav nav-tabs align-items-center">
                <li class="nav-item" [class.active]="profile">
                    <a class="nav-link" [class.active]="profile" (click)="showProfile()" href="javascript:;">Profil</a>
                </li>

                <li class="nav-item" [class.active]="!profile">
                    <a class="nav-link" [class.active]="!profile" (click)="showSurveys()" href="javascript:;">Anketler
                        <span class="badge badge-soft-dark rounded-circle ml-1">{{data.createdSurveys}}</span></a>
                </li>


                <li *ngIf="canEdit()" class="nav-item ml-auto">
                    <a class="btn btn-sm btn-white mr-2" routerLink="/dash/edit-admin">
                        <i class="tio-edit"></i> Düzenle
                    </a>

                    <a class="btn btn-sm btn-danger mr-2" (click)="logout()" href="javascript:;">
                        <i class="tio-info-outined"></i> Çıkış
                    </a>
                </li>
            </ul>
        </div>


        <ng-template #tabProfile>
            <div class="row">
                <div class="col-lg-4">
                    <!-- Card -->
                    <div class="card card-body mb-3 mb-lg-5">
                        <h5>Profil yüzdesi</h5>

                        <!-- Progress -->
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="progress flex-grow-1">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 82%"
                                    aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="ml-4">82%</span>
                        </div>
                        <!-- End Progress -->
                    </div>
                    <!-- End Card -->

                    <!-- Sticky Block Start Point -->
                    <div id="accountSidebarNav"></div>

                    <!-- Card -->
                    <div class="js-sticky-block card mb-3 mb-lg-5 hs-kill-sticky" data-hs-sticky-block-options="{
                     &quot;parentSelector&quot;: &quot;#accountSidebarNav&quot;,
                     &quot;breakpoint&quot;: &quot;lg&quot;,
                     &quot;startPoint&quot;: &quot;#accountSidebarNav&quot;,
                     &quot;endPoint&quot;: &quot;#stickyBlockEndPoint&quot;,
                     &quot;stickyOffsetTop&quot;: 20
                   }">
                        <!-- Header -->
                        <div class="card-header">
                            <h5 class="card-header-title">Profil</h5>

                        </div>
                        <!-- End Header -->

                        <!-- Body -->
                        <div class="card-body">
                            <ul class="list-unstyled list-unstyled-py-3 text-dark mb-3">
                                <li class="py-0">
                                    <small class="card-subtitle">Hakkında</small>
                                </li>

                                <li>
                                    <i class="tio-user-outlined nav-icon"></i>
                                    {{data.title != null ? data.title : ''}} {{data.name}} {{data.surname}}
                                </li>

                                <li class="pt-2 pb-0">
                                    <small class="card-subtitle">İrtibat</small>
                                </li>

                                <li>
                                    <i class="tio-online nav-icon"></i>
                                    {{data.email}}
                                </li>
                                <li>
                                    <i class="tio-android-phone-vs nav-icon"></i>
                                    +90 {{data.phone}}
                                </li>

                                <li class="pt-2 pb-0">
                                    <small class="card-subtitle">Anketler</small>
                                </li>


                                <li>
                                    <i class="tio-briefcase-outlined nav-icon"></i>
                                    {{data.createdSurveys}} anket oluşturdu
                                </li>
                            </ul>
                        </div>
                        <!-- End Body -->
                    </div>
                    <!-- End Card -->
                </div>

                <div class="col-lg-8">
                    <!-- Card -->
                    <div class="card mb-3 mb-lg-5">
                        <!-- Header -->
                        <div class="card-header">
                            <h5 class="card-header-title">Son Aktiviteleri</h5>

                            <!-- Unfold -->
                            <div class="hs-unfold">
                                <a class="js-hs-unfold-invoker btn btn-icon btn-sm btn-ghost-secondary rounded-circle"
                                    href="javascript:;" data-hs-unfold-options="{
                         &quot;target&quot;: &quot;#contentActivityStreamDropdown&quot;,
                         &quot;type&quot;: &quot;css-animation&quot;
                       }" data-hs-unfold-target="#contentActivityStreamDropdown" data-hs-unfold-invoker="">
                                    <i class="tio-more-vertical"></i>
                                </a>

                                <div id="contentActivityStreamDropdown"
                                    class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right mt-1 hs-unfold-hidden hs-unfold-content-initialized hs-unfold-css-animation animated hs-unfold-reverse-y"
                                    data-hs-target-height="214.6" data-hs-unfold-content=""
                                    data-hs-unfold-content-animation-in="slideInUp"
                                    data-hs-unfold-content-animation-out="fadeOut" style="animation-duration: 300ms;">
                                    <span class="dropdown-header">Settings</span>

                                    <a class="dropdown-item" href="#">
                                        <i class="tio-share dropdown-item-icon"></i> Share connections
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="tio-info-outined dropdown-item-icon"></i> Suggest edits
                                    </a>

                                    <div class="dropdown-divider"></div>

                                    <span class="dropdown-header">Feedback</span>

                                    <a class="dropdown-item" href="#">
                                        <i class="tio-chat-outlined dropdown-item-icon"></i> Report
                                    </a>
                                </div>
                            </div>
                            <!-- End Unfold -->
                        </div>
                        <!-- End Header -->

                        <div *ngIf="activity.length == 0" class="card-body card-body-height card-body-centered">
                            <img class="avatar avatar-xxl mb-3" src="./assets/svg/illustrations/yelling.svg"
                                alt="Image Description">
                            <p class="card-text">Kullanıcının henüz etkinliği yok!</p>
                        </div>


                        <!-- Body -->
                        <div *ngIf="activity.length > 0" class="card-body card-body-height" style="height: 30rem;">
                            <!-- Step -->
                            <ul class="step step-icon-xs" *ngFor="let item of activity;let i = index;">


                                <!-- Step Item -->
                                <li *ngIf="!item.isCreation" class="step-item">
                                    <div class="step-content-wrapper">
                                        <span class="step-icon step-icon-pseudo step-icon-soft-dark"></span>

                                        <div class="step-content">
                                            <h5 class="mb-1">
                                                <a class="text-dark" href="#">
                                                    <span
                                                        style="color: rgb(0, 140, 255); font-style: italic;">{{item.survey.title}}
                                                    </span> isimli anketin durumunu güncelledi
                                                </a>
                                            </h5>

                                            <p class="font-size-sm mb-1">Anket

                                                <span *ngIf="item.surveyStatus === 0"
                                                    class="badge badge-soft-primary badge-pill">
                                                    <span class="legend-indicator bg-primary"></span>"Devam Eden"
                                                </span>

                                                <span *ngIf="item.surveyStatus === 1"
                                                    class="badge badge-soft-warning badge-pill">
                                                    <span class="legend-indicator bg-warning"></span>"Kontrolde"
                                                </span>

                                                <span *ngIf="item.surveyStatus === 2"
                                                    class="badge badge-soft-success badge-pill">
                                                    <span class="legend-indicator bg-success"></span>"Tamamlandı"
                                                </span>
                                                olarak işaretlendi
                                            </p>

                                            <small class="text-muted text-uppercase">
                                                İşlem tarihi: {{item.creationAt | date: 'dd.MM.yyyy
                                                hh:mm:ss'}}
                                            </small>
                                        </div>
                                    </div>
                                </li>
                                <!-- End Step Item -->

                                <!-- Step Item -->
                                <li *ngIf="item.isCreation" class="step-item">
                                    <div class="step-content-wrapper">
                                        <span class="step-icon step-icon-pseudo step-icon-soft-danger"></span>

                                        <div class="step-content">
                                            <h5 class="mb-1">
                                                <a class="text-dark" href="#"> <span
                                                        style="color: rgb(0, 140, 255); font-style: italic;">{{item.survey.title}}</span>
                                                    isimli
                                                    <span style="color: rgb(179, 92, 35); font-style: italic;">
                                                        {{item.survey.choiceGroup.name}}
                                                    </span>
                                                    seçenek grubundaki anketi
                                                    tanımladı</a>
                                            </h5>

                                            <p class="font-size-sm mb-1">Anket için
                                                <span style="font-weight: bold;">
                                                    {{item.survey.smallImages.length}}
                                                </span>
                                                resim
                                                yüklendi
                                            </p>

                                            <ul *ngIf="item.survey.smallImages.length > 0" class="list-group">
                                                <!-- List Item -->
                                                <li class="list-group-item list-group-item-light">
                                                    <div class="row gx-1">
                                                        <div class="col"
                                                            *ngFor="let img of item.survey.smallImages.slice(0,6)">
                                                            <img class="img-fluid rounded ie-card-img"
                                                                src="{{img.fileName}}" alt="Image Description">
                                                        </div>

                                                        <div *ngIf="item.survey.smallImages.length > 6"
                                                            class="col-auto align-self-center">
                                                            <div class="text-center">
                                                                +{{item.survey.smallImages.length - 6}} tane
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!-- List Item -->
                                            </ul>

                                            <small class="text-muted text-uppercase">
                                                İşlem tarihi: {{item.creationAt | date: 'dd/MM/yyyy hh:mm:ss'}}
                                            </small>
                                        </div>
                                    </div>
                                </li>
                                <!-- End Step Item -->







                                <!-- Step Item -->
                                <li id="collapseActivitySection" class="step-item collapse">
                                    <div class="step-content-wrapper">
                                        <span class="step-icon step-icon-pseudo step-icon-soft-dark"></span>

                                        <div class="step-content">
                                            <h5 class="mb-1">
                                                <a class="text-dark" href="#">Project status updated</a>
                                            </h5>

                                            <p class="font-size-sm mb-1">Updated <a class="text-uppercase" href="#"><i
                                                        class="tio-folder-bookmarked"></i> Fr-3</a> as <span
                                                    class="badge badge-soft-secondary badge-pill"><span
                                                        class="legend-indicator bg-secondary"></span>"To do"</span></p>

                                            <small class="text-muted text-uppercase">Feb 10</small>
                                        </div>
                                    </div>
                                </li>
                                <!-- End Step Item -->
                            </ul>
                            <!-- End Step -->
                        </div>
                        <!-- End Body -->

                        <!-- Footer -->
                        <div *ngIf="activity.length > 0" class="card-footer">
                            <a (click)="nextPageOfActivity()" class="btn btn-sm btn-ghost-primary"
                                data-toggle="collapse" role="button" aria-expanded="false"
                                aria-controls="collapseActivitySection">
                                <span class="btn-toggle-default">
                                    <i class="tio-chevron-down mr-1"></i> Daha fazla
                                </span>
                            </a>
                        </div>
                        <!-- End Footer -->
                    </div>
                    <!-- End Card -->


                    <!-- End Row -->

                    <!-- Sticky Block End Point -->
                    <div id="stickyBlockEndPoint"></div>
                </div>
            </div>
        </ng-template>

        <ng-template #tabSurveys>
            <div class="row align-items-center mb-5">
                <div class="col">
                    <h3 class="mb-0">{{data.createdSurveys}} anketler</h3>
                </div>

                <div class="col-auto">
                    <!-- Nav -->
                    <ul class="nav nav-segment" id="projectsTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="grid-tab" data-toggle="tab" href="#grid" role="tab"
                                aria-controls="grid" aria-selected="true" title="Column view">
                                <i class="tio-column-view-outlined"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab"
                                aria-controls="list" aria-selected="false" title="List view">
                                <i class="tio-agenda-view-outlined"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- End Nav -->
                </div>
            </div>

            <div class="tab-content" id="projectsTabContent">
                <div class="tab-pane fade show active" id="grid" role="tabpanel" aria-labelledby="grid-tab">
                    <div class="row row-cols-1 row-cols-md-2">


                        <div *ngFor="let item of surveys;let i=index" class="col mb-3 mb-lg-5">
                            <!-- Card -->
                            <div class="card card-hover-shadow text-center h-100">
                                <!-- Progress -->
                                <div class="card-progress-wrap">
                                    <div class="progress card-progress">
                                        <div [ngClass]="getProgressPercentClass(item.id)" role="progressbar"
                                            [style.width.%]="item.progressPercent" aria-valuenow="72" aria-valuemin="0"
                                            aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                                <!-- End Progress -->

                                <!-- Body -->
                                <div class="card-body">
                                    <div class="row align-items-center text-left mb-4">
                                        <div *ngIf="item.status === 0" class="col">
                                            <span class="badge badge-soft-primary p-2">Devam ediyor</span>
                                        </div>

                                        <div *ngIf="item.status === 1" class="col">
                                            <span class="badge badge-soft-warning p-2">Kontrolde</span>
                                        </div>

                                        <div *ngIf="item.status === 2" class="col">
                                            <span class="badge badge-soft-success p-2">Tamamlandı</span>
                                        </div>


                                    </div>

                                    <div class="d-flex justify-content-center mb-2">
                                        <!-- Avatar -->
                                        <img *ngIf="item.smallImages.length > 0" class="avatar avatar-lg"
                                            src="{{item.smallImages[0].fileName}}" alt="Image Description">


                                        <span *ngIf="item.smallImages.length == 0"
                                            class="avatar avatar-lg avatar-primary ">
                                            <span class="avatar-initials">{{item.title[0]}}</span>
                                        </span>
                                    </div>

                                    <div class="mb-4">
                                        <h2 class="mb-1">{{item.title}}</h2>

                                        <span class="font-size-sm">{{item.creationAt | date: 'dd.MM.yyyy hh:mm'}}</span>
                                    </div>

                                    <small class="card-subtitle">{{item.choiceGroup.name}} </small>

                                    <div class="d-flex justify-content-center">
                                        <span *ngFor="let choice of item.choiceGroup.choices"
                                            style="border: 1px solid rgb(153, 153, 153); width: 20px; height: 20px;"
                                            [style.background-color]="choice.color"
                                            class="legend-indicator legend-indicator-lg">
                                        </span>
                                    </div>

                                    <a class="stretched-link" [routerLink]="['/dash/survey',item.id]"></a>
                                </div>
                                <!-- End Body -->

                                <!-- Footer -->
                                <div class="card-footer">
                                    <!-- Stats -->
                                    <div class="row">
                                        <div class="col">
                                            <span class="h4">{{item.answerCount}}</span>
                                            <span class="d-block font-size-sm"> Katılım</span>
                                        </div>

                                        <div class="col column-divider">
                                            <span class="h4">% {{item.progressPercent}}</span>
                                            <span class="d-block font-size-sm"> Tamamlandı</span>
                                        </div>

                                    </div>
                                    <!-- End Stats -->
                                </div>
                                <!-- End Footer -->
                            </div>
                            <!-- End Card -->
                        </div>
                    </div>
                    <!-- End Row -->
                </div>

                <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">
                    <div *ngFor="let item of surveys" class="row row-cols-1">
                        <div class="col mb-3 mb-lg-5">
                            <!-- Card -->
                            <div class="card card-body">
                                <div class="media">
                                    <!-- Avatar -->
                                    <a [routerLink]="['/dash/survey/',item.id]">
                                        <img *ngIf="item.smallImages.length>0" class="avatar mr-3 mr-lg-4"
                                            src="{{item.smallImages[0].fileName}}" alt="Image Description">
                                        <span *ngIf="item.smallImages.length == 0"
                                            class="avatar avatar-primary mr-3 mr-lg-4">
                                            <span class="avatar-initials">{{item.title[0]}}</span>
                                        </span>
                                    </a>

                                    <div class="media-body">
                                        <div class="row align-items-sm-center">
                                            <div class="col">

                                                <div *ngIf="item.status === 0">
                                                    <span class="badge badge-soft-primary">Devam ediyor</span>
                                                </div>

                                                <div *ngIf="item.status === 1">
                                                    <span class="badge badge-soft-warning">Kontrolde</span>
                                                </div>

                                                <div *ngIf="item.status === 2">
                                                    <span class="badge badge-soft-success">Tamamlandı</span>
                                                </div>

                                                <h3 class="mb-1">{{item.title}}</h3>
                                            </div>

                                            <div class="col-md-3 d-none d-md-flex justify-content-md-end ml-n3">
                                                <div class="d-flex justify-content-center">
                                                    <span *ngFor="let choice of item.choiceGroup.choices"
                                                        style="border: 1px solid rgb(153, 153, 153); width: 15px; height: 15px;"
                                                        [style.background-color]="choice.color"
                                                        class="legend-indicator legend-indicator-lg">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Row -->

                                        <!-- Stats -->
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <span class="font-size-sm">Oluşturulma: </span>
                                                <span class="font-weight-bold text-dark">{{item.creationAt | date:
                                                    'dd.MM.yyyy hh:MM:ss'}}</span>
                                            </li>

                                            <li class="list-inline-item">
                                                <span class="font-size-sm">Katılımlar: </span>
                                                <span class="font-weight-bold text-dark">{{item.answerCount}}</span>
                                            </li>

                                            <li class="list-inline-item">
                                                <span class="font-size-sm">Tamamlanma: </span>
                                                <span class="font-weight-bold text-dark">%
                                                    {{item.progressPercent}}</span>
                                            </li>
                                        </ul>
                                        <!-- End Stats -->



                                        <!-- Progress -->
                                        <div class="progress card-progress">
                                            <div [ngClass]="getProgressPercentClass(item.id)" role="progressbar"
                                                [style.width.%]="item.progressPercent" aria-valuenow="72"
                                                aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <!-- End Progress -->

                                        <a class="stretched-link" [routerLink]="['/survey',item.id]"></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Card -->
                        </div>

                    </div>
                    <!-- End Row -->
                </div>
            </div>

            <a (click)="nextPageOfProjectHistory()" *ngIf="data.createdSurveys" class="btn btn-block btn-white"
                href="javascript:;">
                <i class="tio-refresh mr-1"></i> Daha fazla
            </a>
        </ng-template>


        <div *ngIf="profile then tabProfile else tabSurveys;"></div>


        <!-- End Row -->
    </div>
</div>