<div class="page-header">
    <div class="media mb-3">
        <!-- Avatar -->
        <div class="avatar avatar-xl avatar-4by3 mr-2">
            <img *ngIf="survey.smallImages" class="avatar-img" src="{{survey.smallImages[0].fileName}}">
        </div>
        <!-- End Avatar -->

        <div class="media-body">
            <div class="row">
                <div class="col-lg mb-3 mb-lg-0">
                    <h1 class="page-header-title">{{survey.title}}</h1>

                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span *ngFor="let choice of survey.choiceGroup.choices.slice(0,5)"
                                style="border: 1px solid rgb(153, 153, 153); " [style.background-color]="choice.color"
                                class="legend-indicator">
                            </span>
                            <span style="font-size: 11px; font-weight: bold;"
                                *ngIf="survey.choiceGroup.choices.length - 5 > 0">
                                +{{survey.choiceGroup.choices.length - 5}}
                            </span>
                            <span> |</span>

                        </div>

                        <div class="col-auto">
                            <div class="row align-items-center g-0">
                                <div class="col-auto">{{survey.creationAt | date: 'dd/MM/yy hh:MM:ss'}} |</div>
                            </div>
                        </div>

                        <div class="col-auto">
                            <a [routerLink]="[ '../admin', survey.administrator.id ]">
                                <span class="media align-items-center">
                                    <img *ngIf="survey.administrator.image != null"
                                        class="avatar avatar-xs avatar-circle mr-2"
                                        src="{{survey.administrator.image.fileName}}">

                                    <div *ngIf="survey.administrator.image == null"
                                        class="avatar avatar-xs avatar-soft-info avatar-circle avatar-circle avatar-border-lg profile-cover-avatar">
                                        <span class="avatar-initials">{{survey.administrator.name[0]}}</span>
                                    </div>
                                    <span class="media-body">
                                        {{survey.administrator.title}}
                                        {{survey.administrator.name}}
                                        {{survey.administrator.surname}}
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-auto">
                    <small class="text-cap mb-2">Başlıca resimler:</small>

                    <div class="d-flex">
                        <!-- Avatar Group -->
                        <div class="avatar-group mr-3">
                            <a *ngFor="let item of survey.smallImages.slice(0,3)" class="avatar" href="javascript:;"
                                data-toggle="tooltip" data-placement="top" title=""
                                [attr.data-original-title]="item.hash">
                                <img class="avatar-img" src="{{item.fileName}}" alt="Image Description">
                            </a>

                            <a *ngIf="survey.smallImages.length > 3" class="avatar avatar-light" href="javascript:;">
                                <span class="avatar-initials">+{{survey.smallImages.length - 3}}</span>
                            </a>
                        </div>
                        <!-- End Avatar Group -->

                        <a class="btn btn-icon btn-primary rounded" href="javascript:;" data-toggle="modal"
                            data-target="#shareWithPeopleModal">
                            <i class="tio-share"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Media -->
</div>

<div class="col-12">
    <div id="#style-1" class="custom-scrollbar">
        <div id="bgg">
            <canvas style="background-color: transparent;" (mouseup)="mouseUp($event)" (mousedown)="mouseDown($event)"
                (mousemove)="mouseMove($event)" (touchmove)="touchMove($event)" (touchstart)="touchStart($event)"
                (touchend)="touchEnd($event)" (click)="handleBox()" id="drw">
            </canvas>
        </div>
    </div>
</div>


<div class="position-fixed bottom-0 content-centered-x w-100 z-index-99 mb-3" style="max-width: 40rem;">
    <!-- Card -->
    <div class="card card-sm bg-dark border-dark mx-2">
        <div class="card-body">
            <div class="row justify-content-center justify-content-sm-between">
                <div class="col">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button (click)="undo()" type="button" class="btn btn-secondary">
                                <i class="tio-undo"></i>
                            </button>
                            <button (click)="redo()" type="button" class="btn btn-secondary">
                                <i class="tio-redo"></i>
                            </button>
                            <button (click)="zoomIn()" type="button" class="btn btn-secondary">
                                <i class="tio-add"></i>
                            </button>
                            <button type="button" class="btn btn-secondary">
                                <i class="tio-remove"></i>
                            </button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                            <button (click)="otherBackground(false)" type="button" class="btn btn-secondary">
                                g</button>
                            <button (click)="otherBackground(true)" type="button" class="btn btn-secondary">i</button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Third group">
                            <!-- Dropup -->
                            <div class="btn-group dropup">
                                <button type="button" class="btn btn-secondary" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="tio-edit"></i>
                                </button>
                                <div class="dropdown-menu ">

                                    <!-- List Group -->
                                    <ul *ngFor="let item of survey.choiceGroup.choices;let i = index"
                                        class="list-group list-group-flush">
                                        <!-- Item -->
                                        <li (click)="activateClass(item.id)"
                                            class="list-group-item custom-checkbox-list-wrapper">
                                            <div class="d-flex align-items-start flex-grow-1">
                                                <div class="d-flex align-items-center mr-3">
                                                    <div class="custom-control custom-checkbox custom-checkbox-list">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="notificationCheck{{i}}">
                                                        <label class="custom-control-label"
                                                            for="notificationCheck{{i}}"></label>
                                                        <span class="custom-checkbox-list-stretched-bg"></span>
                                                    </div>
                                                    <div class="avatar avatar-sm avatar-circle">
                                                        <span class="legend-indicator legend-indicator-lg"
                                                            style="border: 1px solid rgb(153, 153, 153); width: 30px; height: 30px;"
                                                            [style.background-color]="item.color"></span>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1 mr-2">
                                                    <span class="card-title h5">{{item.name}}</span>
                                                    <p class="card-text font-size-sm">{{item.code}}</p>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Item -->

                                    </ul>
                                    <!-- End List Group -->


                                </div>
                            </div>
                            <!-- End Dropup -->
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button (click)="clearCanvas()" type="button" class="btn btn-danger">Temizle</button>
                            <button (click)="save()" type="button" class="btn btn-success">Kaydet</button>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Row -->
        </div>
    </div>
    <!-- End Card -->