<!-- Page Header -->
<div class="page-header">
    <div class="row align-items-end">
        <div class="col-sm mb-2 mb-sm-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-no-gutter">
                    <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Anket Yönetimi</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Kontrol Anketleri</li>
                </ol>
            </nav>

            <h1 class="page-header-title">Kontrol Anketleri</h1>
        </div>

        <div class="col-sm-auto">
            <div id="newProjectPopover" data-toggle="popover" data-placement="left" title=""
                aria-describedby="popover468850">
                <a class="btn btn-primary" href="javascript:;" data-toggle="modal" data-target="#staticBackdrop">
                    <i class="tio-add mr-1"></i> Yeni Kontrol Anketi
                </a>

            </div>
            <br>

        </div>
    </div>
    <!-- End Row -->

    <!-- Nav -->
    <ul class="nav nav-tabs page-header-tabs">
        <li class="nav-item">

        </li>
        <li class="nav-item">

        </li>
    </ul>
    <!-- End Nav -->
</div>
<!-- End Page Header -->




<div class="row align-items-center mb-5">
    <div class="col">
        <h3 class="mb-0">8 projects</h3>
    </div>


</div>



<div class="tab-content" id="projectsTabContent">
    <div class="tab-pane fade show active" id="grid" role="tabpanel" aria-labelledby="grid-tab">
        <div class="row row-cols-1 row-cols-md-2">
            <div *ngFor="let item of datas;let i = index" class="col mb-3 mb-lg-5">
                <!-- Card -->
                <div class="card card-hover-shadow text-center h-100">
                    <div class="card-progress-wrap">
                        <!-- Progress -->
                        <div class="progress card-progress">
                            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <!-- End Progress -->
                    </div>

                    <!-- Body -->
                    <div class="card-body">
                        <div class="row align-items-center text-left mb-4">
                            <div class="col">
                                <span class="badge badge-soft-secondary p-2">To do</span>
                            </div>

                            <div class="col-auto">
                                <!-- Unfold -->
                                <div class="hs-unfold card-unfold">
                                    <a class="btn btn-icon btn-soft-danger btn-sm btn-ghost-secondary rounded-circle"
                                        href="javascript:;" (click)="remove(item.id)">
                                        <i class="tio-delete"></i>
                                    </a>

                                </div>
                                <!-- End Unfold -->
                            </div>
                        </div>

                        <div class="d-flex justify-content-center mb-2">
                            <!-- Avatar -->

                            <a [routerLink]="['/dash/control-survey',item.id]">
                                <img class="avatar avatar-lg" src="{{item.smallImage.fileName}}"
                                    alt="Image Description">
                            </a>
                        </div>

                        <div class="mb-4">

                            <a [routerLink]="['/dash/control-survey',item.id]">
                                <h2 class="mb-1">{{item.title}}</h2>

                            </a>


                            <span class="font-size-sm">Oluşturuldu: {{item.creationAt | date: 'dd/MM/yyyy'}}</span>
                        </div>

                        <small class="card-subtitle">{{item.administrator.name}} {{item.administrator.surname}}</small>

                    </div>
                    <!-- End Body -->

                    <!-- Footer -->
                    <div class="card-footer">
                        <!-- Stats -->
                        <div class="row">
                            <div class="col">
                                <span class="h4">19</span>
                                <span class="d-block font-size-sm">Tasks</span>
                            </div>

                            <div class="col column-divider">
                                <span class="h4">33</span>
                                <span class="d-block font-size-sm">Completed</span>
                            </div>

                            <div class="col column-divider">
                                <span class="h4">10</span>
                                <span class="d-block font-size-sm">Days left</span>
                            </div>
                        </div>
                        <!-- End Stats -->
                    </div>
                    <!-- End Footer -->
                </div>
                <!-- End Card -->
            </div>


        </div>
        <!-- End Row -->
    </div>

    <a (click)="more()" href="javascript:;" class="btn btn-block btn-white"><i class="tio-refresh mr-1"></i> Daha fazla
        yükle </a>
</div>






<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Kontrol Anketi Oluştur</h5>
                <button type="button" class="btn btn-xs btn-icon btn-ghost-secondary" data-dismiss="modal"
                    aria-label="Close">
                    <i class="tio-clear tio-lg"></i>
                </button>
            </div>
            <div class="modal-body">


                <div class="card-body">

                    <div class="form-group">

                        <input [(ngModel)]="data.title"
                            style="font-size: 20px; color:rgb(53, 53, 53); border-radius: 0; border-bottom: 2px solid rgb(226, 226, 226);"
                            type="text" id="exampleFormControlTitleInput" class="form-control form-control-title"
                            placeholder="Başlık giriniz">
                    </div>

                    <div class="row">
                        <div class="col-11">
                            <div class="alert alert-white mb-5 mb-lg-7" role="alert">
                                <div class="media align-items-center">
                                    <img class="avatar avatar-xl mr-3" src="./assets/svg/illustrations/unlock.svg"
                                        alt="Image Description">

                                    <div class="media-body">
                                        <h3 class="alert-heading mb-1">Dikkat!</h3>
                                        <p class="mb-0"> Kontrol anketi oluşturmak için <span
                                                style="font-weight: bold; text-decoration: underline;">resim ve text
                                                dosyası
                                            </span>
                                            seçiniz...
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <!-- Logo -->
                        <label class="custom-file-boxed custom-file-boxed-sm" for="imageUploader">
                            <img id="logoImg" class="avatar avatar-xl avatar-4by3 avatar-centered h-100 mb-2"
                                src="./assets/svg/illustrations/browse.svg" alt="Image Description">

                            <span class="d-block">Resmi seçiniz...
                            </span>

                            <input (change)="onFileChange($event)" type="file" accept="image/*"
                                class="js-file-attach custom-file-boxed-input" id="imageUploader">
                            <br>
                            <span style="margin-bottom: 5px; margin-right: 5px;" class="btn btn-sm btn-primary">
                                <i class="tio-visible-outlined"></i>
                                Dizine Gözat</span>

                            <div class="card-body">
                                <label *ngIf="uploading.length > 0" class="input-label">
                                    <span style="font-weight: bold; font-size: 14px;">{{uploading.length}}</span>
                                    dosya(lar):
                                </label>
                                <!-- Gallery -->
                                <div id="fancyboxGallery" class="js-fancybox row justify-content-sm-center gx-2">
                                    <div *ngFor="let item of uploading;let i=index;"
                                        class="col-5 col-sm-4 col-md-3 mb-3 mb-lg-5">
                                        <!-- Card -->
                                        <div class="card card-sm">
                                            <img style="max-height: 120px;" class="card-img-top" src="{{item}}" alt="">
                                            <div class="card-body">
                                                <div class="row text-center">
                                                    <div class="col column-divider">
                                                        <a (click)="removeFile(i)" class="text-danger"
                                                            href="javascript:;" data-toggle="tooltip"
                                                            data-placement="top" title="" data-original-title="Delete">
                                                            <i class="tio-delete-outlined"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!-- End Row -->
                                            </div>
                                        </div>
                                        <!-- End Card -->
                                    </div>
                                </div>
                                <!-- End Gallery -->
                            </div>
                        </label>
                        <!-- End Logo -->
                    </div>

                    <div class="col-md-12">
                        <!-- Logo -->
                        <label class="custom-file-boxed custom-file-boxed-sm" for="textUploader">
                            <img id="logoImg" class="avatar avatar-xl avatar-4by3 avatar-centered h-100 mb-2"
                                src="./assets/svg/illustrations/browse.svg" alt="Image Description">

                            <span class="d-block">Text dosyası seçiniz...
                            </span>

                            <input (change)="onFileChangeText($event)" type="file" accept=".txt"
                                class="js-file-attach custom-file-boxed-input" id="textUploader">
                            <br>
                            <span style="margin-bottom: 5px; margin-right: 5px;" class="btn btn-sm btn-primary">
                                <i class="tio-visible-outlined"></i>
                                Dizine Gözat</span>

                            <div class="card-body">
                                <label *ngIf="uploadingText.length > 0" class="input-label">
                                    <span style="font-weight: bold; font-size: 12px;">Seçildi: <u>{{textFileName}}</u>
                                    </span>
                                </label>
                            </div>
                        </label>
                        <!-- End Logo -->
                    </div>
                </div>




            </div>
            <div class="modal-footer">
                <button type="button" (click)="discard()" class="btn btn-danger" data-dismiss="modal">İptal</button>
                <button type="button" (click)="save()" class="btn btn-success">Kaydet</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->