<webcam class="test" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
    [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions"
    (cameraSwitched)="cameraWasSwitched($event)" (initError)="handleInitError($event)">
</webcam>


<div *ngIf="errors.length > 0" class="row justify-content-center">
    <div class="col-10">
        <div class="alert alert-soft-danger mb-5 mb-lg-7" role="alert">
            <div class="media align-items-center">
                <img class="avatar avatar-xl mr-3" src="./assets/svg/illustrations/yelling.svg" alt="Image Description">

                <div class="media-body">
                    <h3 class="alert-heading mb-1">Hata!</h3>
                    <p>Kamera açılırken hata oluştu!</p>

                    <ul>
                        <li *ngFor="let item of errors">
                            <p>{{item.message}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>