<main id="content" role="main" class="main">
    <!-- Content -->
    <div class="container">
        <a class="position-absolute top-0 left-0 right-0" href="index.html">
            <img class="avatar avatar-xl avatar-4by3 avatar-centered" src="./assets/svg/logos/logo.svg"
                alt="Image Description">
        </a>

        <div class="footer-height-offset d-flex justify-content-center align-items-center flex-column">
            <div class="row align-items-sm-center w-100">
                <div class="col-sm-6">
                    <div class="text-center text-sm-right mr-sm-4 mb-5 mb-sm-0">
                        <img class="w-60 w-sm-100 mx-auto" src="./assets/svg/illustrations/unlock.svg"
                            alt="Image Description" style="max-width: 15rem;">
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 text-center text-sm-left">
                    <h1 class="display-1 mb-0">401</h1>
                    <p class="lead">İstenilen işlemi yapmak için yetkiniz yok!</p>
                    <a class="btn btn-primary" href="javascript:;">Uygulamaya dön</a>
                </div>
            </div>
            <!-- End Row -->
        </div>
    </div>
    <!-- End Content -->

    <!-- Footer -->
    <div class="footer text-center">
        <ul class="list-inline list-separator">
            <li class="list-inline-item">
                <a class="list-separator-link" href="#">Front Support</a>
            </li>

            <li class="list-inline-item">
                <a class="list-separator-link" href="#">Front Status</a>
            </li>

            <li class="list-inline-item">
                <a class="list-separator-link" href="#">Get Help</a>
            </li>
        </ul>
    </div>
    <!-- End Footer -->
</main>