<div class="card mb-3 mb-lg-5">
    <!-- Body -->
    <div class="card-body">
        <div class="media align-items-md-center">
            <span class="display-3 text-dark mr-3">{{survey.answerCount}}</span>

            <div class="media-body">
                <div class="row mx-md-n3">
                    <div class="col-md px-md-4">
                        <span class="d-block">Katılımlar</span>
                        <span class="badge badge-soft-danger badge-pill p-1">
                            <i class="tio-trending-down"></i> -2 late in due
                        </span>
                    </div>

                    <div class="col-md-9 col-lg-10 column-divider-md px-md-4">
                        <!-- Legend Indicators -->
                        <div class="row justify-content-start mb-2">
                            <div *ngIf="survey.status == 0" class="col-auto">
                                <span class="legend-indicator bg-primary"></span>
                                Devam eden
                            </div>
                            <div *ngIf="survey.status == 1" class="col-auto">
                                <span class="legend-indicator bg-warning"></span>
                                Kontrolde
                            </div>
                            <div *ngIf="survey.status == 2" class="col-auto">
                                <span class="legend-indicator bg-success"></span>
                                Tamamlandı
                            </div>
                        </div>
                        <!-- End Legend Indicators -->

                        <!-- Progress -->
                        <div class="progress rounded-pill">
                            <div *ngIf="survey.status == 0" class="progress-bar" role="progressbar" style="width: 40%"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>

                            <div *ngIf="survey.status == 1" class="progress-bar bg-warning" role="progressbar"
                                style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>

                            <div *ngIf="survey.status == 2" class="progress-bar bg-success" role="progressbar"
                                style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <!-- End Progress -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Body -->
</div>


<div class="row">
    <div class="col-lg-8 mb-5 mb-lg-0">
        <!-- Card -->
        <div class="card card-lg mb-5">
            <div class="card-body">
                <div class="row justify-content-lg-between">
                    <div class="col-sm order-2 order-sm-1 mb-3">
                        <img class="avatar mb-2" src="{{survey.smallImages[0].fileName}}" alt="Logo">
                        <h1 class="text-primary">{{survey.title}}</h1>
                    </div>

                    <div class="col-sm-auto order-1 order-sm-2 text-sm-right mb-3">
                        <div class="mb-3">
                            <h2>Anket</h2>
                            <span class="d-block">ID: {{survey.id}}</span>

                            <span *ngIf="survey.status == 0" class="badge badge-primary">Devam ediyor</span>
                            <span *ngIf="survey.status == 1" class="badge badge-warning">Kontrol ediliyor</span>
                            <span *ngIf="survey.status == 2" class="badge badge-success">Bitti</span>

                        </div>
                    </div>
                </div>
                <!-- End Row -->

                <!-- Bill To -->
                <div class="row justify-content-md-between mb-3">
                    <div class="col-md">
                        <h4>{{survey.choiceGroup.name}} : </h4>

                        <span *ngFor="let choice of survey.choiceGroup.choices"
                            style="border: 1px solid rgb(153, 153, 153); width: 25px; height: 25px;"
                            [style.background-color]="choice.color" class="legend-indicator legend-indicator-lg">
                        </span>
                    </div>

                    <div class="col-md text-md-right">
                        <dl class="row">
                            <dt class="col-sm-4 col-md">Oluşturulma tarihi:</dt>
                            <dd class="col-sm-8 col-md-auto">{{survey.creationAt | date: 'dd.MM.yy hh:mm:ss'}}</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-4 col-md">Başlama tarihi:</dt>
                            <dd class="col-sm-8 col-md-auto">
                                {{survey.creationAt | date: 'dd.MM.yy hh:mm:ss'}}
                            </dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-4 col-md">Sonlanma tarihi:</dt>
                            <dd *ngIf="!survey.automaticFinish" class="col-sm-8 col-md-auto">Manuel</dd>
                            <dd *ngIf="survey.automaticFinish" class="col-sm-8 col-md-auto">
                                {{survey.finishAt | date: 'dd.MM.yy hh:mm:ss'}}
                            </dd>
                        </dl>
                    </div>
                </div>
                <!-- End Bill To -->

                <!-- Contacts -->
                <div *ngIf="survey.body != undefined && survey.body != ''" class="mb-3">
                    <h3>Açıklamalar: </h3>
                    <p style="color: rgb(99, 99, 99); font-size: 12px;">{{survey.body}}</p>
                </div>
                <!-- End Contacts -->

                <hr class="my-5">

                <!-- Contacts -->
                <div *ngIf="survey.images.length > 0" class="mb-3">
                    <h3>{{survey.images.length}} Resimler: </h3>
                </div>
                <!-- End Contacts -->

                <!-- Table -->
                <div class="table-responsive">
                    <table
                        class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
                        <thead class="thead-light">
                            <tr>
                                <th>Resim</th>
                                <th>SHA256</th>
                                <th class="table-column-right-aligned">Boyut(byte)</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let item of survey.smallImages;let i=index">
                                <th>

                                    <img class="avatar mb-2" src="{{item.fileName}}" alt="Logo">
                                </th>
                                <td>{{survey.images[i].hash}}</td>
                                <td>{{survey.images[i].size}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- End Table -->

                <p class="font-size-sm mb-0">© 2021 Karadeniz Teknik Üniversitesi</p>
            </div>
        </div>
        <!-- End Card -->

        <!-- Footer -->
        <div class="d-flex justify-content-end d-print-none">
            <a onclick="window.print(); return false;" class="btn btn-white mr-2" href="#">
                <i class="tio-print mr-1 "></i> Yazdır
            </a>

            <a class="btn btn-success" (click)="downloadStatistics(false)" href="javascript:;">
                <i class="tio-download-to mr-1"></i> Sonuçları İndir
            </a>
        </div>
        <!-- End Footer -->
    </div>

    <div class="col-lg-4">
        <!-- Card -->
        <div class="card d-print-none">
            <!-- Header -->
            <div class="card-header">
                <h5 class="card-header-title">Aktivite Durumu</h5>
            </div>
            <!-- End Header -->

            <!-- Body -->
            <div class="card-body">
                <span class="h1 d-block mb-3">{{survey.answerCount}} <span class="h4 text-body">
                        toplam katılım</span>
                </span>
            </div>
            <!-- End Body -->

            <hr class="my-0">

            <!-- Body -->
            <div class="card-body card-body-height">

                <div *ngIf="answers.length == 0" class="card-body card-body-height card-body-centered">
                    <img class="avatar avatar-xxl mb-3" src="./assets/svg/illustrations/sorry.svg"
                        alt="Image Description">
                    <p class="card-text">Henüz katılım yok!</p>
                </div>

                <!-- List Group -->
                <ul *ngIf="answers.length > 0" class="list-group list-group-flush">
                    <!-- Item -->
                    <li *ngFor="let item of answers" class="list-group-item custom-checkbox-list-wrapper">
                        <div class="d-flex align-items-start flex-grow-1">
                            <div class="d-flex align-items-center mr-3">

                                <div class="avatar avatar-sm avatar-circle">
                                    <img *ngIf="item.doctor.image" class="avatar-img"
                                        src="../assets/img/160x160/img3.jpg" alt="Image Description">

                                    <span *ngIf="!item.doctor.image"
                                        class="avatar avatar-sm avatar-primary avatar-circle">
                                        <span class="avatar-initials">{{item.doctor.name[0]}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-grow-1 mr-2">
                                <span class="card-title h5">{{item.doctor.title}} {{item.doctor.name}}
                                    {{item.doctor.surname}}</span>
                                <p class="card-text font-size-sm">{{item.creationAt |date: 'dd.MM.yyy hh:mm:ss'}}
                                    tarihinde katıldı
                                </p>
                            </div>

                        </div>
                        <a class="stretched-link" href="#"></a>
                    </li>
                    <!-- End Item -->
                </ul>
                <!-- End List Group -->
            </div>
            <!-- End Body -->

            <!-- Card Footer -->
            <a *ngIf="answers.length > 0" (click)="getLastAnswers()" class="card-footer text-center"
                href="javascript:;">
                Daha Fala <i class="tio-chevron-down"></i>
            </a>
            <!-- End Card Footer -->
        </div>
        <!-- End Card -->
    </div>
</div>