<main id="content" role="main" class="main">
    <div class="position-fixed top-0 right-0 left-0 bg-img-hero"
        style="height: 32rem; background-image: url(./assets/svg/components/abstract-bg-3.svg);">
        <!-- SVG Bottom Shape -->
        <figure class="position-absolute right-0 bottom-0 left-0">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1921 273">
                <polygon fill="#fff" points="0,273 1921,273 1921,0 "></polygon>
            </svg>
        </figure>
        <!-- End SVG Bottom Shape -->
    </div>

    <!-- Content -->
    <div class="container py-5 py-sm-7">
        <a class="d-flex justify-content-center mb-5" href="index.html">
            <img class="z-index-2" src="./assets/svg/logos/logo.svg" alt="Image Description" style="width: 8rem;">
        </a>

        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <!-- Card -->
                <div class="card card-lg mb-5">
                    <div class="card-body">
                        <!-- Form -->
                        <form class="js-validate" novalidate="novalidate">
                            <div class="text-center">
                                <div class="mb-5">
                                    <h1 class="display-4">Giriş Yap</h1>
                                    <p>Henüz bir hesabınız yok mu? <a routerLink="/signup">Kaydolun</a></p>
                                </div>

                                <span class="divider text-muted mb-4">Formu Doldurun</span>
                            </div>

                            <!-- Form Group -->
                            <div class="js-form-message form-group">
                                <label class="input-label" for="signinSrEmail">Email</label>

                                <input [(ngModel)]="loginViewModel.email" type="email"
                                    class="form-control form-control-lg" name="email" id="signinSrEmail" tabindex="1"
                                    placeholder="birisi@adres.com" aria-label="email@address.com" required=""
                                    data-msg="Please enter a valid email address.">
                            </div>
                            <!-- End Form Group -->

                            <!-- Form Group -->
                            <div class="js-form-message form-group">
                                <label class="input-label" for="signupSrPassword" tabindex="0">
                                    <span class="d-flex justify-content-between align-items-center">
                                        Şifre
                                        <a class="input-label-secondary"
                                            href="authentication-reset-password-basic.html">Şifremi Unuttum?</a>
                                    </span>
                                </label>

                                <div class="input-group input-group-merge">
                                    <input [(ngModel)]="loginViewModel.password" type="password"
                                        class="js-toggle-password form-control form-control-lg" name="password"
                                        id="signupSrPassword" placeholder="6+ Karakter" aria-label="6+ Karakter"
                                        required="" data-msg="Your password is invalid. Please try again."
                                        data-hs-toggle-password-options="{
                             &quot;target&quot;: &quot;#changePassTarget&quot;,
                             &quot;defaultClass&quot;: &quot;tio-hidden-outlined&quot;,
                             &quot;showClass&quot;: &quot;tio-visible-outlined&quot;,
                             &quot;classChangeTarget&quot;: &quot;#changePassIcon&quot;
                           }">
                                    <div id="changePassTarget" class="input-group-append">
                                        <a class="input-group-text" href="javascript:;">
                                            <i id="changePassIcon" class="tio-hidden-outlined"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Form Group -->

                            <!-- Checkbox -->
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="termsCheckbox"
                                        name="termsCheckbox">
                                    <label class="custom-control-label text-muted" for="termsCheckbox"> Beni hatırla
                                    </label>
                                </div>
                            </div>
                            <!-- End Checkbox -->

                            <button (click)="login()" type="button"
                                class="btn btn-lg btn-block btn-primary">Giriş</button>
                        </form>
                        <!-- End Form -->
                    </div>
                </div>
                <!-- End Card -->
            </div>
        </div>
    </div>
    <!-- End Content -->
</main>