<div class="footer">
    <div class="row justify-content-between align-items-center">
        <div class="col">
            <p class="font-size-sm mb-0">© Front. <span class="d-none d-sm-inline-block">2020 Htmlstream.</span></p>
        </div>
        <div class="col-auto">
            <div class="d-flex justify-content-end">
                <!-- List Dot -->
                <ul class="list-inline list-separator">
                    <li class="list-inline-item">
                        <a class="list-separator-link" href="#">FAQ</a>
                    </li>

                    <li class="list-inline-item">
                        <a class="list-separator-link" href="#">License</a>
                    </li>

                    <li class="list-inline-item">
                        <!-- Keyboard Shortcuts Toggle -->
                        <div class="hs-unfold">
                            <a class="js-hs-unfold-invoker btn btn-icon btn-ghost-secondary rounded-circle"
                                href="javascript:;" data-hs-unfold-options="{
                        &quot;target&quot;: &quot;#keyboardShortcutsSidebar&quot;,
                        &quot;type&quot;: &quot;css-animation&quot;,
                        &quot;animationIn&quot;: &quot;fadeInRight&quot;,
                        &quot;animationOut&quot;: &quot;fadeOutRight&quot;,
                        &quot;hasOverlay&quot;: true,
                        &quot;smartPositionOff&quot;: true
                       }" data-hs-unfold-target="#keyboardShortcutsSidebar" data-hs-unfold-invoker="">
                                <i class="tio-command-key"></i>
                            </a>
                        </div>
                        <!-- End Keyboard Shortcuts Toggle -->
                    </li>
                </ul>
                <!-- End List Dot -->
            </div>
        </div>
    </div>
</div>