<div class="row justify-content-lg-center">
    <div class="col-lg-10">
        <!-- Profile Cover -->
        <div class="profile-cover">
            <div class="profile-cover-img-wrapper">
                <img class="profile-cover-img" src="./assets/img/1920x400/img1.jpg" alt="Image Description">
            </div>
        </div>
        <!-- End Profile Cover -->

        <!-- Profile Header -->
        <div class="text-center mb-5">
            <!-- Avatar -->

            <ng-template #hasimage>
                <div class="avatar avatar-xxl avatar-circle avatar-border-lg profile-cover-avatar">
                    <img class="avatar-img" src="{{data.image.fileName}}" alt="">
                    <span class="avatar-status avatar-status-success"></span>
                </div>
            </ng-template>

            <ng-template #noimage>
                <div
                    class="{{getAvatarClassNameByGender(data.gender)}} avatar-circle avatar-border-lg profile-cover-avatar">
                    <span class="avatar-initials">{{data.name[0]}}</span>
                </div>
            </ng-template>

            <div *ngIf="data.image != null then hasimage else noimage"></div>

            <!-- End Avatar -->

            <h1 class="page-header-title">{{data.title}} {{data.name}} {{data.surname}}<i
                    class="tio-verified tio-lg text-primary" data-toggle="tooltip" data-placement="top" title=""
                    data-original-title="Top endorsed"></i></h1>

            <!-- List -->
            <ul class="list-inline list-inline-m-1">
                <li *ngIf="data.hospital !== null" class="list-inline-item">
                    <i class="tio-city mr-1"></i>
                    <span>{{data.hospital}}</span>
                </li>

                <li *ngIf="data.department !== null" class="list-inline-item">
                    <i class="tio-poi-outlined mr-1"></i>
                    {{data.department}}
                </li>

                <li class="list-inline-item">
                    <i class="tio-date-range mr-1"></i>
                    <span>Katılım: {{data.creationAt | date: 'dd/MM/yyyy hh:mm'}}</span>
                </li>
            </ul>
            <!-- End List -->
        </div>
        <!-- End Profile Header -->

        <!-- Nav -->
        <div class="js-nav-scroller hs-nav-scroller-horizontal mb-5">


            <ul class="nav nav-tabs align-items-center">
                <li class="nav-item">
                    <a class="nav-link active" href="user-profile.html">Profil</a>
                </li>


                <li *ngIf="canEdit()" class="nav-item ml-auto">
                    <a class="btn btn-sm btn-white mr-2" routerLink="/user/edit-account">
                        <i class="tio-edit"></i> Düzenle
                    </a>
                    <a class="btn btn-sm btn-danger mr-2" (click)="logout()" href="javascript:;">
                        <i class="tio-info-outined"></i> Çıkış
                    </a>
                </li>

            </ul>
        </div>
        <!-- End Nav -->

        <div class="row">
            <div class="col-lg-4">
                <!-- Card -->
                <div class="card card-body mb-3 mb-lg-5">
                    <h5>Complete your profile</h5>

                    <!-- Progress -->
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="progress flex-grow-1">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 82%"
                                aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="ml-4">82%</span>
                    </div>
                    <!-- End Progress -->
                </div>
                <!-- End Card -->

                <!-- Sticky Block Start Point -->
                <div id="accountSidebarNav"></div>

                <!-- Card -->
                <div class="js-sticky-block card mb-3 mb-lg-5 hs-kill-sticky" data-hs-sticky-block-options="{
                 &quot;parentSelector&quot;: &quot;#accountSidebarNav&quot;,
                 &quot;breakpoint&quot;: &quot;lg&quot;,
                 &quot;startPoint&quot;: &quot;#accountSidebarNav&quot;,
                 &quot;endPoint&quot;: &quot;#stickyBlockEndPoint&quot;,
                 &quot;stickyOffsetTop&quot;: 20
               }">
                    <!-- Header -->
                    <div class="card-header">
                        <h5 class="card-header-title">Profil</h5>
                    </div>
                    <!-- End Header -->

                    <!-- Body -->
                    <div class="card-body">
                        <ul class="list-unstyled list-unstyled-py-3 text-dark mb-3">
                            <li class="py-0">
                                <small class="card-subtitle">Hakkında</small>
                            </li>

                            <li>
                                <i class="tio-user-outlined nav-icon"></i>
                                {{data.title != null ? data.title : ''}} {{data.name}} {{data.surname}}
                            </li>
                            <li>
                                <i class="tio-briefcase-outlined nav-icon"></i>
                                {{data.department !== null ? data.department : 'Departmanı girilmedi!'}}
                            </li>
                            <li>
                                <i class="tio-city nav-icon"></i>
                                {{data.hospital !== null ? data.hospital : 'Hastanesi girilmedi!'}}

                            </li>

                            <li class="pt-2 pb-0">
                                <small class="card-subtitle">İrtibat</small>
                            </li>

                            <li>
                                <i class="tio-online nav-icon"></i>
                                {{data.email}}
                            </li>
                            <li>
                                <i class="tio-android-phone-vs nav-icon"></i>
                                +90 {{data.phone}}
                            </li>

                            <li class="pt-2 pb-0">
                                <small class="card-subtitle">Anketler</small>
                            </li>

                            <li>
                                <i class="tio-briefcase-outlined nav-icon"></i>
                                36 ankete katıldı
                            </li>
                        </ul>
                    </div>
                    <!-- End Body -->
                </div>
                <!-- End Card -->
            </div>

            <div class="col-lg-8">
                <!-- Card -->
                <div class="card mb-3 mb-lg-5">
                    <!-- Header -->
                    <div class="card-header">
                        <h5 class="card-header-title">Activity stream</h5>

                        <!-- Unfold -->
                        <div class="hs-unfold">
                            <a class="js-hs-unfold-invoker btn btn-icon btn-sm btn-ghost-secondary rounded-circle"
                                href="javascript:;" data-hs-unfold-options="{
                     &quot;target&quot;: &quot;#contentActivityStreamDropdown&quot;,
                     &quot;type&quot;: &quot;css-animation&quot;
                   }" data-hs-unfold-target="#contentActivityStreamDropdown" data-hs-unfold-invoker="">
                                <i class="tio-more-vertical"></i>
                            </a>

                            <div id="contentActivityStreamDropdown"
                                class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right mt-1 hs-unfold-hidden hs-unfold-content-initialized hs-unfold-css-animation animated hs-unfold-reverse-y"
                                data-hs-target-height="214.6" data-hs-unfold-content=""
                                data-hs-unfold-content-animation-in="slideInUp"
                                data-hs-unfold-content-animation-out="fadeOut" style="animation-duration: 300ms;">
                                <span class="dropdown-header">Settings</span>

                                <a class="dropdown-item" href="#">
                                    <i class="tio-share dropdown-item-icon"></i> Share connections
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="tio-info-outined dropdown-item-icon"></i> Suggest edits
                                </a>

                                <div class="dropdown-divider"></div>

                                <span class="dropdown-header">Feedback</span>

                                <a class="dropdown-item" href="#">
                                    <i class="tio-chat-outlined dropdown-item-icon"></i> Report
                                </a>
                            </div>
                        </div>
                        <!-- End Unfold -->
                    </div>
                    <!-- End Header -->

                    <!-- Body -->
                    <div class="card-body card-body-height" style="height: 30rem;">

                    </div>
                    <!-- End Body -->

                    <!-- Footer -->
                    <div class="card-footer">
                        <a class="btn btn-sm btn-ghost-secondary" data-toggle="collapse" href="#collapseActivitySection"
                            role="button" aria-expanded="false" aria-controls="collapseActivitySection">
                            <span class="btn-toggle-default">
                                <i class="tio-chevron-down mr-1"></i> Daha fazla
                            </span>
                            <span class="btn-toggle-toggled">
                                <i class="tio-chevron-up mr-1"></i> Daha az
                            </span>
                        </a>
                    </div>
                    <!-- End Footer -->
                </div>
                <!-- End Card -->


            </div>
        </div>
        <!-- End Row -->
    </div>
</div>