<aside
    class="js-navbar-vertical-aside navbar navbar-vertical-aside navbar-vertical navbar-vertical-fixed navbar-expand-xl navbar-bordered  ">
    <div class="navbar-vertical-container">
        <div class="navbar-vertical-footer-offset">
            <div class="navbar-brand-wrapper justify-content-between">
                <!-- Logo -->


                <a class="navbar-brand" routerLink="/dash" aria-label="Front">
                    <img class="navbar-brand-logo" src="./assets/svg/logos/logo.svg" alt="Logo">
                    <img class="navbar-brand-logo-mini" src="./assets/svg/logos/logo-short.svg" alt="Logo">
                </a>

                <!-- End Logo -->

                <!-- Navbar Vertical Toggle -->
                <button type="button"
                    class="js-navbar-vertical-aside-toggle-invoker navbar-vertical-aside-toggle btn btn-icon btn-xs btn-ghost-dark">
                    <i class="tio-clear tio-lg"></i>
                </button>
                <!-- End Navbar Vertical Toggle -->
            </div>

            <!-- Content -->
            <div class="navbar-vertical-content">
                <ul class="navbar-nav navbar-nav-lg nav-tabs">


                    <li class="nav-item">
                        <small class="nav-subtitle" title="Layouts">Anketler</small>
                        <small class="tio-more-horizontal nav-subtitle-replacer"></small>
                    </li>

                    <li class="nav-item ">
                        <a class="js-nav-tooltip-link nav-link " routerLink="/dash/surveys" title="Layouts"
                            data-placement="left">
                            <i class="tio-apps nav-icon"></i>
                            <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Anketler</span>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a class="js-nav-tooltip-link nav-link " routerLink="/dash/add-survey" title="Layouts"
                            data-placement="left">
                            <i class="tio-visible-outlined nav-icon"></i>
                            <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Yeni
                                Anket</span>
                        </a>
                    </li>


                    <li class="nav-item ">
                        <a class="js-nav-tooltip-link nav-link " routerLink="/dash/choices" title="Layouts"
                            data-placement="left">
                            <i class="tio-layers-outlined nav-icon"></i>
                            <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Sınıflar</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <small class="nav-subtitle" title="Layouts">Kullanıcılar</small>
                        <small class="tio-more-horizontal nav-subtitle-replacer"></small>
                    </li>

                    <!-- Apps -->
                    <li class="navbar-vertical-aside-has-menu">
                        <a class="js-navbar-vertical-aside-menu-link nav-link nav-link-toggle active"
                            href="javascript:;" title="Apps">
                            <i class="tio-book-opened nav-icon"></i>
                            <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Yöneticiler
                                <span class="badge badge-info badge-pill ml-1">Hot</span></span>
                        </a>

                        <ul class="js-navbar-vertical-aside-submenu nav nav-sub">
                            <li class="nav-item">
                                <a class="nav-link " routerLink="/dash/admins" title="Kanban">
                                    <span class="tio-circle nav-indicator-icon"></span>
                                    <span class="text-truncate">Yöneticiler</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" routerLink="/dash/new-admin" title="Calendar">
                                    <span class="tio-circle nav-indicator-icon"></span>
                                    <span class="text-truncate">Yeni Yönetici <span
                                            class="badge badge-info badge-pill ml-1">New</span></span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <!-- End Apps -->



                    <!-- Apps -->
                    <li class="navbar-vertical-aside-has-menu">
                        <a class="js-navbar-vertical-aside-menu-link nav-link nav-link-toggle active"
                            href="javascript:;" title="Apps">
                            <i class="tio-apps nav-icon"></i>
                            <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Doktorlar
                                <span class="badge badge-info badge-pill ml-1">Hot</span></span>
                        </a>

                        <ul class="js-navbar-vertical-aside-submenu nav nav-sub">
                            <li class="nav-item">
                                <a class="nav-link " routerLink="/dash/doctors" title="Kanban">
                                    <span class="tio-circle nav-indicator-icon"></span>
                                    <span class="text-truncate">Doktorlar</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" routerLink="/dash/new-doctor" title="Calendar">
                                    <span class="tio-circle nav-indicator-icon"></span>
                                    <span class="text-truncate">Yeni Doktor <span
                                            class="badge badge-info badge-pill ml-1">New</span></span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <!-- End Apps -->


                    <li class="nav-item">
                        <small class="nav-subtitle" title="Layouts">Ayarlar</small>
                        <small class="tio-more-horizontal nav-subtitle-replacer"></small>
                    </li>

                    <li class="nav-item ">
                        <a class="js-nav-tooltip-link nav-link " routerLink="/dash/settings" title="Layouts"
                            data-placement="left">
                            <i class="tio-apps nav-icon"></i>
                            <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Ayarlar</span>
                        </a>
                    </li>




                    <li class="nav-item">
                        <div class="nav-divider"></div>
                    </li>

                    <li class="nav-item">
                        <small class="nav-subtitle" title="Documentation">Diğer</small>
                        <small class="tio-more-horizontal nav-subtitle-replacer"></small>
                    </li>

                    <li class="nav-item ">
                        <a class="js-nav-tooltip-link nav-link" href="./documentation/index.html" title="Documentation"
                            data-placement="left">
                            <i class="tio-book-opened nav-icon"></i>
                            <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Yardım
                                <span class="badge badge-primary badge-pill ml-1">v1.1</span></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End Content -->

            <!-- Footer -->
            <div class="navbar-vertical-footer">
                <ul class="navbar-vertical-footer-list">
                    <li class="navbar-vertical-footer-list-item">
                        <!-- Unfold -->
                        <div class="hs-unfold">
                            <a class="js-hs-unfold-invoker btn btn-icon btn-ghost-secondary rounded-circle"
                                href="javascript:;" data-hs-unfold-options='{
                    "target": "#styleSwitcherDropdown",
                    "type": "css-animation",
                    "animationIn": "fadeInRight",
                    "animationOut": "fadeOutRight",
                    "hasOverlay": true,
                    "smartPositionOff": true
                   }'>
                                <i class="tio-tune"></i>
                            </a>
                        </div>
                        <!-- End Unfold -->
                    </li>

                    <li class="navbar-vertical-footer-list-item">
                        <!-- Other Links -->
                        <div class="hs-unfold">
                            <a class="js-hs-unfold-invoker btn btn-icon btn-ghost-secondary rounded-circle"
                                href="javascript:;" data-hs-unfold-options='{
                    "target": "#otherLinksDropdown",
                    "type": "css-animation",
                    "animationIn": "slideInDown",
                    "hideOnScroll": true
                   }'>
                                <i class="tio-help-outlined"></i>
                            </a>

                            <div id="otherLinksDropdown"
                                class="hs-unfold-content dropdown-unfold dropdown-menu navbar-vertical-footer-dropdown">
                                <span class="dropdown-header">Help</span>
                                <a class="dropdown-item" href="#">
                                    <i class="tio-book-outlined dropdown-item-icon"></i>
                                    <span class="text-truncate pr-2" title="Resources &amp; tutorials">Resources &amp;
                                        tutorials</span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="tio-command-key dropdown-item-icon"></i>
                                    <span class="text-truncate pr-2" title="Keyboard shortcuts">Keyboard
                                        shortcuts</span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="tio-alt dropdown-item-icon"></i>
                                    <span class="text-truncate pr-2" title="Connect other apps">Connect other
                                        apps</span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="tio-gift dropdown-item-icon"></i>
                                    <span class="text-truncate pr-2" title="What's new?">What's new?</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <span class="dropdown-header">Contacts</span>
                                <a class="dropdown-item" href="#">
                                    <i class="tio-chat-outlined dropdown-item-icon"></i>
                                    <span class="text-truncate pr-2" title="Contact support">Contact support</span>
                                </a>
                            </div>
                        </div>
                        <!-- End Other Links -->
                    </li>

                    <li class="navbar-vertical-footer-list-item">
                        <!-- Language -->
                        <div class="hs-unfold">
                            <a class="js-hs-unfold-invoker btn btn-icon btn-ghost-secondary rounded-circle"
                                href="javascript:;" data-hs-unfold-options='{
                    "target": "#languageDropdown",
                    "type": "css-animation",
                    "animationIn": "slideInDown",
                    "hideOnScroll": true
                   }'>
                                <img class="avatar avatar-xss avatar-circle"
                                    src="./assets/vendor/flag-icon-css/flags/1x1/us.svg" alt="United States Flag">
                            </a>

                            <div id="languageDropdown"
                                class="hs-unfold-content dropdown-unfold dropdown-menu navbar-vertical-footer-dropdown">
                                <span class="dropdown-header">Select language</span>
                                <a class="dropdown-item" href="#">
                                    <img class="avatar avatar-xss avatar-circle mr-2"
                                        src="./assets/vendor/flag-icon-css/flags/1x1/us.svg" alt="Flag">
                                    <span class="text-truncate pr-2" title="English">English (US)</span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <img class="avatar avatar-xss avatar-circle mr-2"
                                        src="./assets/vendor/flag-icon-css/flags/1x1/gb.svg" alt="Flag">
                                    <span class="text-truncate pr-2" title="English">English (UK)</span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <img class="avatar avatar-xss avatar-circle mr-2"
                                        src="./assets/vendor/flag-icon-css/flags/1x1/de.svg" alt="Flag">
                                    <span class="text-truncate pr-2" title="Deutsch">Deutsch</span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <img class="avatar avatar-xss avatar-circle mr-2"
                                        src="./assets/vendor/flag-icon-css/flags/1x1/dk.svg" alt="Flag">
                                    <span class="text-truncate pr-2" title="Dansk">Dansk</span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <img class="avatar avatar-xss avatar-circle mr-2"
                                        src="./assets/vendor/flag-icon-css/flags/1x1/it.svg" alt="Flag">
                                    <span class="text-truncate pr-2" title="Italiano">Italiano</span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <img class="avatar avatar-xss avatar-circle mr-2"
                                        src="./assets/vendor/flag-icon-css/flags/1x1/cn.svg" alt="Flag">
                                    <span class="text-truncate pr-2" title="中文 (繁體)">中文 (繁體)</span>
                                </a>
                            </div>
                        </div>
                        <!-- End Language -->
                    </li>
                </ul>
            </div>
            <!-- End Footer -->
        </div>
    </div>
</aside>