<div class="page-header">
    <div class="row align-items-end">
        <div class="col-sm mb-2 mb-sm-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-no-gutter">
                    <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Kullanıcı</a></li>
                    <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Doktor</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Doktor</li>
                </ol>
            </nav>

            <h1 class="page-header-title">Doktorlar</h1>
        </div>

        <div class="col-sm-auto">
            <a class="btn btn-primary" href="#">
                <i class="tio-user-add mr-1"></i> Doktor Oluştur
            </a>
        </div>


        <div class="row">
            <div class="col-lg-4">
                <!-- Card -->
                <div class="text-center">
                    <img class="avatar avatar-xl avatar-4by3 mb-4" src="./assets/svg/illustrations/click.svg"
                        alt="Image Description">
                    <small class="text-cap">Toplam doktorlar</small>
                    <span class="d-block display-4 text-dark mb-2">150</span>

                    <div class="row">
                        <div class="col text-right">
                            <span class="d-block font-weight-bold text-success">
                                <i class="tio-trending-up"></i> 12%
                            </span>
                            <span class="d-block">change</span>
                        </div>

                        <div class="col column-divider text-left">
                            <span class="d-block font-weight-bold text-dark">25</span>
                            <span class="d-block">last week</span>
                        </div>
                    </div>
                    <!-- End Row -->
                </div>
                <!-- End Card -->
            </div>

            <div class="col-lg-4 column-divider-lg">
                <div class="d-lg-none">
                    <hr class="my-5">
                </div>

                <!-- Card -->
                <div class="text-center">
                    <img class="avatar avatar-xl avatar-4by3 mb-4" src="./assets/svg/illustrations/presenting.svg"
                        alt="Image Description">
                    <small class="text-cap">Denetimciler</small>
                    <span class="d-block display-4 text-dark mb-2">$7,253.00</span>

                    <div class="row">
                        <div class="col text-right">
                            <span class="d-block font-weight-bold text-success">
                                <i class="tio-trending-up"></i> 5.6%
                            </span>
                            <span class="d-block">change</span>
                        </div>

                        <div class="col column-divider text-left">
                            <span class="d-block font-weight-bold text-dark">$582.00</span>
                            <span class="d-block">last week</span>
                        </div>
                    </div>
                    <!-- End Row -->
                </div>
                <!-- End Card -->
            </div>

            <div class="col-lg-4 column-divider-lg">
                <div class="d-lg-none">
                    <hr class="my-5">
                </div>

                <!-- Card -->
                <div class="text-center">
                    <img class="avatar avatar-xl avatar-4by3 mb-4" src="./assets/svg/illustrations/hi-five.svg"
                        alt="Image Description">
                    <small class="text-cap">Onaylanmayanlar</small>
                    <span class="d-block display-4 text-dark mb-2">25</span>

                    <div class="row">
                        <div class="col text-right">
                            <span class="d-block font-weight-bold text-danger">
                                <i class="tio-trending-down"></i> 2.3%
                            </span>
                            <span class="d-block">change</span>
                        </div>

                        <div class="col column-divider text-left">
                            <span class="d-block font-weight-bold text-dark">7</span>
                            <span class="d-block">last week</span>
                        </div>
                    </div>
                    <!-- End Row -->
                </div>
                <!-- End Card -->
            </div>
        </div>
    </div>
    <!-- End Row -->
</div>

<div class="card">
    <!-- Header -->
    <div class="card-header">
        <div class="row justify-content-between align-items-center flex-grow-1">
            <div class="col-md mb-2 mb-md-0">
                <h4 class="card-header-title">Doktorlar</h4>
                <p class="card-text font-size-sm">Uygulama kullanıcılarına ait detaylar</p>
            </div>

            <div class="col-auto">
                <div class="d-flex align-items-center">


                    <!-- Filter Collapse Trigger -->
                    <a class="btn btn-white  collapsed" data-toggle="collapse" href="#filterSearchCollapse"
                        role="button" aria-expanded="false" aria-controls="filterSearchCollapse">
                        <i class="tio-filter-outlined mr-1"></i> Filtrele
                    </a>
                    <!-- End Filter Collapse Trigger -->
                </div>
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Header -->

    <!-- Filter Search Collapse -->
    <div class="collapse" id="filterSearchCollapse">
        <div class="card-body">
            <form>

                <div class="row">

                    <div class="row justify-content-center">
                        <div class="col-8">
                            <div class="alert alert-soft-white mb-5 mb-lg-7" role="alert">
                                <div class="media align-items-center">
                                    <img class="avatar avatar-xl mr-3"
                                        src="./assets/svg/illustrations/yelling-reverse.svg" alt="Image Description">

                                    <div class="media-body">
                                        <h3 class="alert-heading mb-1">Dikkat!</h3>
                                        <p class="mb-0">Kayıtları filtrelemek için istediğiniz alanları doldurun ve
                                            <span style="font-weight: bold;">"Uygula"</span>yın. Dilediğiniz zaman
                                            <span style="font-weight: bold;">"Temizle"</span>yerek filtreleri
                                            kaldırabilirsiniz.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-6">
                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="teamsFilterLabel" class="input-label">Tip</label>

                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="tio-smile"></i>
                                    </div>
                                </div>
                                <select [(ngModel)]="filterClauses.type" name="type" id="type"
                                    class="form-control form-control-sm form-select form-select-lg "
                                    aria-label=".form-select-lg example">
                                    <option selected value="0">Tümü</option>
                                    <option value="1">Katılımcılar</option>
                                    <option value="2">Denetimciler</option>
                                    <option value="3">Katılımcı-Denetimciler</option>
                                </select>
                            </div>
                        </div>
                        <!-- End Form Group -->
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="tagsFilterLabel" class="input-label">Onaylanma</label>

                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="tio-castle"></i>
                                    </div>
                                </div>
                                <select [(ngModel)]="filterClauses.isConfirmed" name="isConfirmed" id="isConfirmed"
                                    class="form-control form-control-sm form-select form-select-lg "
                                    aria-label=".form-select-lg example">
                                    <option selected value="0">Tümü</option>
                                    <option value="1">Onaylananlar</option>
                                    <option value="2">Onaylanmayanlar</option>
                                </select>
                            </div>
                        </div>
                        <!-- End Form Group -->
                    </div>
                </div>
                <!-- End Row -->

                <div class="row">
                    <div class="col-sm-12 col-lg-4">
                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="teamsFilterLabel" class="input-label">Ad</label>

                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="tio-user"></i>
                                    </div>
                                </div>
                                <input [(ngModel)]="filterClauses.name" class=" form-control form-control-sm"
                                    name="name" id="name" placeholder="Doktor adı" aria-label="Doktor adı">
                            </div>
                        </div>
                        <!-- End Form Group -->
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="tagsFilterLabel" class="input-label">Soyad</label>

                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="tio-user"></i>
                                    </div>
                                </div>
                                <input [(ngModel)]="filterClauses.surname" class=" form-control form-control-sm"
                                    name="code" id="code" placeholder="Doktor soyadı" aria-label="Doktor soyadı">
                            </div>
                        </div>
                        <!-- End Form Group -->
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="tagsFilterLabel" class="input-label">Ünvan</label>

                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="tio-label"></i>
                                    </div>
                                </div>
                                <input [(ngModel)]="filterClauses.title" class=" form-control form-control-sm"
                                    name="title" id="title" placeholder="Doktor ünvanı" aria-label="Doktor ünvanı">
                            </div>
                        </div>
                        <!-- End Form Group -->
                    </div>
                </div>
                <!-- End Row -->

                <div class="row">
                    <div class="col-sm-12 col-lg-4">
                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="teamsFilterLabel" class="input-label">Email</label>

                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="tio-email"></i>
                                    </div>
                                </div>
                                <input [(ngModel)]="filterClauses.email" type="email"
                                    class=" form-control form-control-sm" name="email" id="email"
                                    placeholder="Email adresi" aria-label="Email adresi">
                            </div>
                        </div>
                        <!-- End Form Group -->
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-3">
                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="tagsFilterLabel" class="input-label">Telefon</label>

                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="tio-call"></i>
                                    </div>
                                </div>
                                <input [(ngModel)]="filterClauses.phone" type="tel"
                                    class=" form-control form-control-sm" name="phone" id="phone"
                                    placeholder="Telefon numarası" aria-label="Telefon numarası">
                            </div>
                        </div>
                        <!-- End Form Group -->
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-5">
                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="tagsFilterLabel" class="input-label">Cinsiyet</label>

                            <!-- Input Group -->
                            <div class="input-group input-group-md-down-break">
                                <!-- Custom Radio -->
                                <div class="form-control form-control-sm">
                                    <div class="custom-control custom-radio">
                                        <input (change)="setGender(1)" type="radio" class="custom-control-input "
                                            name="genderTypeRadioEg" id="genderTypeRadioEg1">
                                        <label class="custom-control-label" for="genderTypeRadioEg1">Bay</label>
                                    </div>
                                </div>
                                <!-- End Custom Radio -->

                                <!-- Custom Radio -->
                                <div class="form-control form-control-sm">
                                    <div class="custom-control custom-radio">
                                        <input (change)="setGender(2)" type="radio" class="custom-control-input"
                                            name="genderTypeRadioEg" id="genderTypeRadioEg2">
                                        <label class="custom-control-label" for="genderTypeRadioEg2">Bayan</label>
                                    </div>
                                </div>
                                <!-- End Custom Radio -->

                                <!-- Custom Radio -->
                                <div class="form-control form-control-sm">
                                    <div class="custom-control custom-radio">
                                        <input (change)="setGender(0)" type="radio" class="custom-control-input"
                                            name="genderTypeRadioEg" id="genderTypeRadioEg3">
                                        <label class="custom-control-label" for="genderTypeRadioEg3">Diğer</label>
                                    </div>
                                </div>
                                <!-- End Custom Radio -->

                                <!-- Custom Radio -->
                                <div class="form-control form-control-sm">
                                    <div class="custom-control custom-radio">
                                        <input (change)="setGender(-1)" type="radio" class="custom-control-input"
                                            name="genderTypeRadioEg" id="genderTypeRadioEg4" checked>
                                        <label class="custom-control-label" for="genderTypeRadioEg4">Tümü</label>
                                    </div>
                                </div>
                                <!-- End Custom Radio -->
                            </div>
                            <!-- End Input Group -->
                        </div>
                        <!-- End Form Group -->
                    </div>
                </div>
                <!-- End Row -->

                <div class="d-flex justify-content-end">
                    <button (click)="clear()" type="button" class="btn btn-white mr-2">
                        <i class="tio-clear"></i> Temizle</button>
                    <button (click)="apply()" type="button" class="btn btn-success">
                        <i class="tio-filter"></i> Uygula</button>
                </div>
            </form>
        </div>
    </div>
    <!-- End Filter Search Collapse -->

    <!-- Table -->
    <div class="table-responsive datatable-custom">
        <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
            <div class="dt-buttons"> <button class="dt-button buttons-copy buttons-html5 d-none" tabindex="0"
                    aria-controls="datatable" type="button"><span>Copy</span></button> <button
                    class="dt-button buttons-excel buttons-html5 d-none" tabindex="0" aria-controls="datatable"
                    type="button"><span>Excel</span></button> <button class="dt-button buttons-csv buttons-html5 d-none"
                    tabindex="0" aria-controls="datatable" type="button"><span>CSV</span></button> <button
                    class="dt-button buttons-pdf buttons-html5 d-none" tabindex="0" aria-controls="datatable"
                    type="button"><span>PDF</span></button> <button class="dt-button buttons-print d-none" tabindex="0"
                    aria-controls="datatable" type="button"><span>Print</span></button> </div>
            <div id="datatable_filter" class="dataTables_filter"><label>Search:<input type="search" class=""
                        placeholder="" aria-controls="datatable"></label></div>
            <table id="datatable"
                class="table table-lg table-borderless table-thead-bordered table-nowrap table-align-middle card-table dataTable no-footer"
                data-hs-datatables-options="{
               &quot;columnDefs&quot;: [{
                  &quot;targets&quot;: [0, 7],
                  &quot;orderable&quot;: false
                }],
               &quot;order&quot;: [],
               &quot;info&quot;: {
                 &quot;totalQty&quot;: &quot;#datatableWithPaginationInfoTotalQty&quot;
               },
               &quot;search&quot;: &quot;#datatableSearch&quot;,
               &quot;entries&quot;: &quot;#datatableEntries&quot;,
               &quot;pageLength&quot;: 15,
               &quot;isResponsive&quot;: false,
               &quot;isShowPaging&quot;: false,
               &quot;pagination&quot;: &quot;datatablePagination&quot;
             }" role="grid" aria-describedby="datatable_info">
                <thead class="thead-light">
                    <tr role="row">
                        <th class="table-column-pr-0 sorting_disabled" rowspan="1" colspan="1" aria-label="
              
                
                
              
            " style="width: 28.6px;">
                            <div class="custom-control custom-checkbox">
                                <input id="datatableCheckAll" type="checkbox" class="custom-control-input">
                                <label class="custom-control-label" for="datatableCheckAll"></label>
                            </div>
                        </th>
                        <th class="table-column-pl-0 sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                            colspan="1" aria-label="Name: activate to sort column ascending" style="width: 150.2px;">
                            Ad</th>
                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                            aria-label="Position: activate to sort column ascending" style="width: 127.2px;">Tip
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                            aria-label="Country: activate to sort column ascending" style="width: 100.4px;">Email</th>
                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                            aria-label="Status: activate to sort column ascending" style="width: 90.4px;">Telefon</th>
                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                            aria-label="Portfolio: activate to sort column ascending" style="width: 120.4px;">Doğrulama
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                            aria-label="Role: activate to sort column ascending" style="width: 50.8px;">Aktivite</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 74.8px;"></th>
                    </tr>
                </thead>

                <tbody>

                    <tr role="row" class="{{i%2==0 ? 'odd': 'even'}}" *ngFor="let item of data;let i = index;">
                        <td class="table-column-pr-0">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="{{'check'+i}}">
                                <label class="custom-control-label" for="{{'check'+i}}"></label>
                            </div>
                        </td>
                        <td class="table-column-pl-0">
                            <a class="d-flex align-items-center" [routerLink]="['/doctor',item.id]">

                                <ng-template #hasimage>
                                    <div class="avatar avatar-circle">
                                        <img class="avatar-img" src="{{item.image.fileName}}" alt="Image Description">
                                    </div>
                                </ng-template>
                                <ng-template #noimage>
                                    <div class="{{getAvatarClassNameByGender(item.gender)}}">
                                        <span class="avatar-initials">{{item.name[0]}}</span>
                                    </div>
                                </ng-template>

                                <div *ngIf="item.image != null then hasimage else noimage">
                                </div>

                                <div class="ml-3">
                                    <span class="d-block h5 text-hover-primary mb-0">{{item.name}} {{item.surname}}<i
                                            class="tio-verified text-primary" data-toggle="tooltip" data-placement="top"
                                            title="" data-original-title="Top endorsed"></i></span>
                                    <span class="d-block font-size-sm text-body">{{item.title}}</span>
                                </div>
                            </a>
                        </td>
                        <td>
                            <select #typeof (change)="changeDoctorType(item.id,typeof.value)" style=" font-size: 13px;"
                                class="form-select form-select-sm mb-1" aria-label="Default select example">
                                <option [selected]="item.type === 0" value="0">Katılımcı</option>
                                <option [selected]="item.type === 1" value="1">Denetimci</option>
                                <option [selected]="item.type === 2" value="2">Her ikisi</option>
                            </select>
                        </td>
                        <td>
                            <i class="tio-online nav-icon"></i> {{item.email}}
                        </td>
                        <td>

                            <i class="tio-android-phone-vs nav-icon"></i>+90 {{item.phone}}
                        </td>
                        <td class="text-center">

                            <div *ngIf="item.isConfirmed">
                                <span class="legend-indicator bg-success"></span>Doğrulandı
                            </div>

                            <div *ngIf="!item.isConfirmed">
                                <button (click)="confirm(item.id)" type="button" class="btn btn-danger btn-xs mb-1">
                                    <i class="tio-voice-line"></i>
                                    Doğrula
                                </button>
                            </div>

                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <span class="font-size-sm mr-2">{{item.activityPercent}}%</span>
                                <div class="progress table-progress">
                                    <div [ngClass]="getActivityPercentClass(item.id)" role="progressbar"
                                        [style.width.%]="item.activityPercent" aria-valuenow="72" aria-valuemin="0"
                                        aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <!-- Dropdown -->
                            <div class="btn-group">
                                <button class="btn btn-sm btn-white" type="button" id="dropdownMenuButtonSm{{i}}"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="tio-edit"></i> İşlem
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonSm">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                            <!-- End Dropdown -->
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">Showing 1 to 15 of 24
                entries</div>
        </div>
    </div>
    <!-- End Table -->

    <!-- Footer -->
    <div class="card-footer">
        <!-- Pagination -->
        <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
            <div class="col-sm mb-2 mb-sm-0">
                <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                    <span class="mr-2">Showing:</span>

                    <!-- Select -->
                    <select id="datatableEntries" class="js-select2-custom select2-hidden-accessible"
                        data-hs-select2-options="{
                      &quot;minimumResultsForSearch&quot;: &quot;Infinity&quot;,
                      &quot;customClass&quot;: &quot;custom-select custom-select-sm custom-select-borderless&quot;,
                      &quot;dropdownAutoWidth&quot;: true,
                      &quot;width&quot;: true
                    }" data-select2-id="datatableEntries" tabindex="-1" aria-hidden="true">
                        <option value="10" data-select2-id="269">10</option>
                        <option value="15" selected="" data-select2-id="270">15</option>
                        <option value="20" data-select2-id="271">20</option>
                    </select><span class="select2 select2-container select2-container--default" dir="ltr"
                        data-select2-id="268"><span class="selection"><span
                                class="select2-selection custom-select custom-select-sm custom-select-borderless"
                                role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0"
                                aria-disabled="false" aria-labelledby="select2-datatableEntries-container"><span
                                    class="select2-selection__rendered" id="select2-datatableEntries-container"
                                    role="textbox" aria-readonly="true" title="15"><span>15</span></span><span
                                    class="select2-selection__arrow" role="presentation"><b
                                        role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                            aria-hidden="true"></span></span>
                    <!-- End Select -->

                    <span class="text-secondary mr-2">of</span>

                    <!-- Pagination Quantity -->
                    <span id="datatableWithPaginationInfoTotalQty">24</span>
                </div>
            </div>

            <div class="col-sm-auto">
                <div class="d-flex justify-content-center justify-content-sm-end">
                    <!-- Pagination -->
                    <nav id="datatablePagination" aria-label="Activity pagination">
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                            <ul id="datatable_pagination" class="pagination datatable-custom-pagination">
                                <li class="paginate_item page-item disabled"><a
                                        class="paginate_button previous page-link" aria-controls="datatable"
                                        data-dt-idx="0" tabindex="0" id="datatable_previous"><span
                                            aria-hidden="true">Prev</span></a></li>
                                <li class="paginate_item page-item active"><a class="paginate_button page-link"
                                        aria-controls="datatable" data-dt-idx="1" tabindex="0">1</a></li>
                                <li class="paginate_item page-item"><a class="paginate_button page-link"
                                        aria-controls="datatable" data-dt-idx="2" tabindex="0">2</a></li>
                                <li class="paginate_item page-item"><a class="paginate_button next page-link"
                                        aria-controls="datatable" data-dt-idx="3" tabindex="0" id="datatable_next"><span
                                            aria-hidden="true">Next</span></a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End Pagination -->
    </div>
    <!-- End Footer -->
</div>