<!-- Page Header -->
<div class="page-header">
    <div class="row align-items-center">
        <div class="col-sm mb-2 mb-sm-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-no-gutter">
                    <li class="breadcrumb-item"><a class="breadcrumb-link" href="./ecommerce-products.html">Anket
                            Yönetimi</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Anketler</li>
                </ol>
            </nav>

            <h1 class="page-header-title">Yeni Anket</h1>
        </div>
    </div>
    <!-- End Row -->
</div>
<!-- End Page Header -->

<div class="row">
    <div class="col-lg-8">

        <!-- Card -->
        <div class="card mb-3 mb-lg-5">
            <!-- Header -->
            <div class="card-header">
                <h4 class="card-header-title">Anket Resimleri</h4>
            </div>
            <!-- End Header -->

            <!-- Body -->
            <div class="card-body">

                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="alert alert-soft-success mb-5 mb-lg-7" role="alert">
                            <div class="media align-items-center">
                                <img class="avatar avatar-xl mr-3" src="./assets/svg/illustrations/yelling-reverse.svg"
                                    alt="Image Description">

                                <div class="media-body">
                                    <h3 class="alert-heading mb-1">Dikkat!</h3>
                                    <p class="mb-0"> Anket resimlerini kameradan alabilmek için bu sayfada <span
                                            style="font-weight: bold; text-decoration: underline;">kamera iznini</span>
                                        vermiş olmalısınız!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <!-- Logo -->
                    <label class="custom-file-boxed custom-file-boxed-sm" for="logoUploader">
                        <img id="logoImg" class="avatar avatar-xl avatar-4by3 avatar-centered h-100 mb-2"
                            src="./assets/svg/illustrations/browse.svg" alt="Image Description">

                        <span class="d-block">Ankete uygulamak için resimleri seçin.
                        </span>

                        <input (change)="onFileChange($event)" type="file" accept="image/*"
                            class="js-file-attach custom-file-boxed-input" id="logoUploader" multiple>
                        <br>
                        <span style="margin-bottom: 5px; margin-right: 5px;" class="btn btn-sm btn-primary">
                            <i class="tio-visible-outlined"></i>
                            Dizine Gözat</span>

                        <!-- Button trigger modal -->
                        <button style="margin-bottom: 5px;" type="button" class="btn btn-sm btn-success"
                            data-toggle="modal" data-target="#staticBackdrop">
                            <i class="tio-incognito"></i> Kameradan Al
                        </button>

                        <div class="card-body">
                            <label *ngIf="uploading.length > 0" class="input-label">
                                <span style="font-weight: bold; font-size: 14px;">{{uploading.length}}</span>
                                dosya(lar):
                            </label>
                            <!-- Gallery -->
                            <div id="fancyboxGallery" class="js-fancybox row justify-content-sm-center gx-2">
                                <div *ngFor="let item of uploading;let i=index;"
                                    class="col-4 col-sm-3 col-md-2 mb-2 mb-lg-4">
                                    <!-- Card -->
                                    <div class="card card-sm">
                                        <img style="max-height: 120px;" class="card-img-top" src="{{item}}" alt="">
                                        <div class="card-body">
                                            <div class="row text-center">
                                                <div class="col">
                                                    <a class="js-fancybox-item text-body" href="javascript:;"
                                                        data-toggle="tooltip" data-placement="top" title=""
                                                        data-src="./assets/img/725x1080/img1.jpg"
                                                        data-caption="Image #01" data-original-title="View">
                                                        <i class="tio-visible-outlined"></i>
                                                    </a>
                                                </div>

                                                <div class="col column-divider">
                                                    <a (click)="removeFile(i)" class="text-danger" href="javascript:;"
                                                        data-toggle="tooltip" data-placement="top" title=""
                                                        data-original-title="Delete">
                                                        <i class="tio-delete-outlined"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- End Row -->
                                        </div>
                                    </div>
                                    <!-- End Card -->
                                </div>
                            </div>
                            <!-- End Gallery -->
                        </div>
                    </label>
                    <!-- End Logo -->
                </div>
            </div>
            <!-- Body -->
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card mb-3 mb-lg-5">
            <!-- Header -->
            <div class="card-header">
                <h4 class="card-header-title">Temel Bilgiler</h4>
            </div>
            <!-- End Header -->

            <!-- Body -->
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="alert alert-white mb-5 mb-lg-7" role="alert">
                            <div class="media align-items-center">
                                <img class="avatar avatar-xl mr-3" src="./assets/svg/illustrations/yelling-reverse.svg"
                                    alt="Image Description">

                                <div class="media-body">
                                    <h3 class="alert-heading mb-1">Dikkat!</h3>
                                    <p class="mb-0">Bir anket en az <span style="font-weight: bold;">1</span> resime
                                        sahip,
                                        <span style="font-weight: bold;">Seçenek Grubu</span> belirlenmiş ve
                                        <span style="font-weight: bold;">Başlık</span> alanı doldurulmuş olarak
                                        kaydedilebilir.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="input-label" for="exampleFormControlTitleInput">Başlık
                        <i class="tio-help-outlined text-body ml-1" data-toggle="tooltip" data-placement="top" title=""
                            data-original-title="Products are the goods or services you sell."></i>

                    </label>
                    <input [(ngModel)]="data.title"
                        style="font-size: 20px; color:rgb(53, 53, 53); border-radius: 0; border-bottom: 2px solid rgb(226, 226, 226);"
                        type="text" id="exampleFormControlTitleInput" class="form-control form-control-title"
                        placeholder="Başlık giriniz">
                </div>

                <!-- Form Group -->
                <div class="form-group">
                    <label class="input-label" for="exampleFormControlTitleInput">Seçenek Grubu
                        <i class="tio-help-outlined text-body ml-1" data-toggle="tooltip" data-placement="top" title=""
                            data-original-title="Products are the goods or services you sell."></i>

                    </label>
                    <select [(ngModel)]="data.choiceGroupId"
                        style=" color:rgb(53, 53, 53); border-radius: 0; border-left: 0; border-right: 0; border-top: 0; border-bottom: 2px solid rgb(226, 226, 226);"
                        class="form-control" aria-label="Default select example">
                        <option value="0" selected>Seçiniz</option>
                        <option *ngFor="let item of choices" value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <!-- End Form Group -->

                <!-- Form Group -->
                <div class="form-group">
                    <label for="productNameLabel" class="input-label">Açıklama
                        <span class="input-label-secondary">(Opsiyonel)</span>
                    </label>

                    <textarea [(ngModel)]="data.body" style="height: 150px;" type="text" class="form-control"
                        name="productName" id="productNameLabel"
                        placeholder="Ankete ait detay veya açıklamalar"></textarea>
                </div>
                <!-- End Form Group -->
                <!-- End Row -->
            </div>
            <!-- Body -->
        </div>
        <!-- End Card -->
    </div>

    <div class="col-lg-4">
        <!-- Card -->
        <div class="card mb-3 mb-lg-5">
            <!-- Header -->
            <div class="card-header">
                <h4 class="card-header-title">Zamanlama</h4>
            </div>
            <!-- End Header -->

            <!-- Body -->
            <div class="card-body">
                <!-- Form Group -->
                <div class="form-group">
                    <label for="productNameLabel" class="input-label">Başlama
                        <span class="input-label-secondary">(Opsiyonel)</span>
                    </label>

                    <div class="input-group">
                        <input [disabled]="!data.startNow" [(ngModel)]="data.startAt" type="date" class="form-control"
                            name="startAt" id="finishAt" placeholder="gg/aa/yy">
                    </div>
                </div>
                <!-- End Form Group -->

                <div class="form-group">
                    <label for="productNameLabel" class="input-label">Sonlanma
                        <span class="input-label-secondary">(Opsiyonel)</span>
                    </label>

                    <div class="input-group">
                        <input [(ngModel)]="data.finishAt" [disabled]="!data.automaticFinish" type="date"
                            class="form-control" name="startAt" id="finishAt" placeholder="gg/aa/yy">
                    </div>
                </div>

                <hr class="my-4">

                <!-- Toggle Switch -->
                <label class="row toggle-switch" for="availabilitySwitch2">
                    <span class="col-8 col-sm-9 toggle-switch-content">
                        <span class="text-dark">Zamanı gelince başlat</span>
                    </span>
                    <span class="col-4 col-sm-3">
                        <input [(ngModel)]="data.startNow" checked type="checkbox" class="toggle-switch-input"
                            id="availabilitySwitch2">
                        <span class="toggle-switch-label ml-auto">
                            <span class="toggle-switch-indicator"></span>
                        </span>
                    </span>
                </label>
                <!-- End Toggle Switch -->

                <!-- Toggle Switch -->
                <label class="row toggle-switch" for="availabilitySwitch1">
                    <span class="col-8 col-sm-9 toggle-switch-content">
                        <span class="text-dark">Zamanı gelince sonlandır</span>
                    </span>
                    <span class="col-4 col-sm-3">
                        <input [(ngModel)]="data.automaticFinish" checked type="checkbox" class="toggle-switch-input"
                            id="availabilitySwitch1">
                        <span class="toggle-switch-label ml-auto">
                            <span class="toggle-switch-indicator"></span>
                        </span>
                    </span>
                </label>
                <!-- End Toggle Switch -->
            </div>
            <!-- Body -->
        </div>
        <!-- End Card -->
    </div>
</div>
<!-- End Row -->

<div class="position-fixed bottom-0 content-centered-x w-100 z-index-99 mb-3" style="max-width: 40rem;">
    <!-- Card -->
    <div class="card card-sm bg-dark border-dark mx-2">
        <div class="card-body">
            <div class="row justify-content-center justify-content-sm-between">
                <div class="col">
                    <button type="button" class="btn btn-ghost-danger">Sil</button>
                </div>
                <div class="col-auto">
                    <button (click)="discard()" type="button" class="btn btn-ghost-light mr-2">İptal</button>
                    <button (click)="save()" type="button" class="btn btn-primary">Kaydet</button>
                </div>
            </div>
            <!-- End Row -->
        </div>
    </div>
    <!-- End Card -->
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yeni anket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <img class="img-fluid mb-3" src="./assets/svg/illustrations/create.svg" alt="Image Description"
                        style="max-width: 15rem;">

                    <div class="mb-4">
                        <h2>Başarılı =)</h2>
                        <p>Yeni anket sisteme kaydedildi.</p>
                    </div>

                    <div class="row justify-content-center gy-1 gx-2">
                        <div class="col-auto">
                            <a class="btn btn-white" routerLink="/surveys">
                                <i class="tio-chevron-left ml-1"></i> Anketlere Git
                            </a>
                        </div>
                        <div class="col-auto">
                            <a (click)="closeSuccessDialog()" class="btn btn-success" href="javascript:;">
                                <i class="tio-city mr-1"></i> Yeni Anket Oluştur
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn btn-xs btn-icon btn-ghost-secondary" data-dismiss="modal"
                    aria-label="Close">
                    <i class="tio-clear tio-lg"></i>
                </button>
            </div>
            <div class="modal-body">


                <div class="row">
                    <div class="col-12">
                        <div class="col-md-12">
                            <div
                                style="width: 100; height: 100%; margin-bottom: 10px; border-radius: 5px; border: 2px dashed rgb(173, 173, 173);">
                                <camera #cam (pictureTaken)="handleImage($event)"></camera>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <!--Browse-->
                        <div class="col-md-12">
                            <!-- Logo -->
                            <label class="custom-file-boxed custom-file-boxed-sm" for="logoUploader2">
                                <img id="logoImg2" class="avatar avatar-xl avatar-4by3 avatar-centered h-100 mb-2"
                                    src="./assets/svg/illustrations/browse.svg">

                                <span class="d-block">Ankete uygulamak için kameradan çekim yapın.
                                </span>

                                <span (click)="takePhoto()" style="margin-bottom: 5px; margin-right: 5px;"
                                    class="btn btn-sm btn-secondary">
                                    <i class="tio-done "></i>
                                    Görünyü Al</span>


                                <!-- Gallery -->
                                <div id="fancyboxGallery" class="js-fancybox row justify-content-sm-center gx-2">
                                    <div *ngFor="let item of uploadingCameraFiles;let i=index;"
                                        class="col-4 col-sm-3 col-md-2 mb-2 mb-lg-4">
                                        <!-- Card -->
                                        <div class="card card-sm">
                                            <img style="max-height: 120px;" class="card-img-top" src="{{item}}" alt="">
                                            <div class="card-body">
                                                <div class="row text-center">
                                                    <div class="col">
                                                        <a class="js-fancybox-item text-body" href="javascript:;"
                                                            data-toggle="tooltip" data-placement="top" title=""
                                                            data-src="./assets/img/725x1080/img1.jpg"
                                                            data-caption="Image #01" data-original-title="View">
                                                            <i class="tio-visible-outlined"></i>
                                                        </a>
                                                    </div>

                                                    <div class="col column-divider">
                                                        <a (click)="removeCameraFile(i)" class="text-danger"
                                                            href="javascript:;" data-toggle="tooltip"
                                                            data-placement="top" title="" data-original-title="Delete">
                                                            <i class="tio-delete-outlined"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!-- End Row -->
                                            </div>
                                        </div>
                                        <!-- End Card -->
                                    </div>
                                </div>
                                <!-- End Gallery -->
                            </label>
                            <!-- End Logo -->
                        </div>
                        <!--Browse end-->

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button (click)="moveToFiles()" type="button" class="btn btn-success">
                    <i class="tio-add"></i> Aktar</button>
                <button (click)="cancelCamera()" type="button" class="btn btn-white" data-dismiss="modal">
                    <i class="tio-delete"></i> İptal</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->