<div class="page-header">
    <div class="media mb-3">
        <!-- Avatar -->
        <div class="avatar avatar-xl avatar-4by3 mr-2">
            <img *ngIf="data.smallImages" class="avatar-img" src="{{data.smallImages[0].fileName}}">
        </div>
        <!-- End Avatar -->

        <div class="media-body">
            <div class="row">
                <div class="col-lg mb-3 mb-lg-0">
                    <h1 class="page-header-title">{{data.title}}</h1>

                    <div class="row align-items-center">
                        <div *ngIf="data.choiceGroup" class="col-auto">
                            <span *ngFor="let choice of data.choiceGroup.choices.slice(0,5)"
                                style="border: 1px solid rgb(153, 153, 153); " [style.background-color]="choice.color"
                                class="legend-indicator">
                            </span>
                            <span style="font-size: 11px; font-weight: bold;"
                                *ngIf="data.choiceGroup.choices.length - 5 > 0">
                                +{{data.choiceGroup.choices.length - 5}}
                            </span>
                            <span> |</span>

                        </div>

                        <div class="col-auto">
                            <div class="row align-items-center g-0">
                                <div class="col-auto">{{data.creationAt | date: 'dd/MM/yy hh:MM:ss'}} |</div>
                            </div>
                        </div>

                        <div class="col-auto">
                            <a [routerLink]="[ '/dash/admin', data.createdBy]">
                                <span class="media align-items-center">
                                    <img *ngIf="data.administrator.image" class="avatar avatar-xs avatar-circle mr-2"
                                        src="{{data.administrator.image.fileName}}">

                                    <div *ngIf="!data.administrator.image"
                                        class="avatar avatar-xs avatar-soft-info avatar-circle avatar-circle avatar-border-lg profile-cover-avatar">
                                        <span class="avatar-initials">{{data.administrator.name[0]}}</span>
                                    </div>
                                    <span class="media-body">
                                        {{data.administrator.title}}
                                        {{data.administrator.name}}
                                        {{data.administrator.surname}}
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-auto">
                    <small class="text-cap mb-2">Başlıca resimler:</small>

                    <div class="d-flex">
                        <!-- Avatar Group -->
                        <div class="avatar-group mr-3">
                            <a *ngFor="let item of data.smallImages.slice(0,3)" class="avatar" href="javascript:;"
                                data-toggle="tooltip" data-placement="top" title=""
                                [attr.data-original-title]="item.hash">
                                <img class="avatar-img" src="{{item.fileName}}" alt="Image Description">
                            </a>

                            <a *ngIf="data.smallImages.length > 3" class="avatar avatar-light" href="javascript:;">
                                <span class="avatar-initials">+{{data.smallImages.length - 3}}</span>
                            </a>
                        </div>
                        <!-- End Avatar Group -->

                        <a class="btn btn-icon btn-primary rounded" href="javascript:;" data-toggle="modal"
                            data-target="#shareWithPeopleModal">
                            <i class="tio-share"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Media -->

    <!-- Nav -->
    <div class="js-nav-scroller hs-nav-scroller-horizontal">
        <span class="hs-nav-scroller-arrow-prev" style="display: none;">
            <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                <i class="tio-chevron-left"></i>
            </a>
        </span>

        <ul class="nav nav-tabs page-header-tabs" id="projectsTab" role="tablist">
            <li class="nav-item">
                <a (click)="changePage(1)" class="nav-link " [class.active]="page==1" href="javascript:;">Genel</a>
            </li>
            <li class="nav-item">
                <a (click)="changePage(2)" class="nav-link " [class.active]="page==2" href="javascript:;">Aktivite</a>
            </li>

            <li class="nav-item">
                <a (click)="changePage(3)" class="nav-link " [class.active]="page==3" href="javascript:;">Ayarlar</a>
            </li>
        </ul>
    </div>
    <!-- End Nav -->
</div>


<div [ngSwitch]="page">
    <survey-general *ngSwitchCase="1" [survey]="data"></survey-general>
    <survey-activity *ngSwitchCase="2" [survey]="data"></survey-activity>
    <survey-edit *ngSwitchCase="3" [survey]="data"></survey-edit>
</div>