<div class="row justify-content-lg">
    <div class="col-lg-10">
        <!-- Step -->
        <ul class="step">
            <li class="step-item">
                <div class="step-content-wrapper">
                    <div class="step-avatar">
                        <img *ngIf="survey.administrator.image" class="step-avatar-img"
                            src="{{survey.administrator.image.fileName}}" alt="Image Description">
                        <span *ngIf="!survey.administrator.image"
                            class="step-icon step-icon-dark">{{survey.administrator.name[0]}}</span>
                    </div>

                    <div class="step-content">
                        <h5 class="mb-1">
                            <a [routerLink]="['/dash/admin',survey.administrator.id]" class="text-dark"
                                href="#">{{survey.administrator.title}} {{survey.administrator.name}}
                                {{survey.administrator.surname}}</a>
                        </h5>

                        <p class="font-size-sm">Anketi başlattı | {{survey.creationAt | date:
                            'dd.MM.yyyy hh:mm:ss'}}</p>

                        <ul class="list-group">
                            <!-- List Item -->
                            <li class="list-group-item list-group-item-light">
                                <div class="row gx-1">
                                    <div *ngFor="let item of survey.images.slice(0,5)" class="col">
                                        <img class="img-fluid rounded" src="{{item.fileName}}" alt="Image Description">
                                    </div>

                                    <div *ngIf="survey.images.length > 5" class="col-auto align-self-center">
                                        <div class="text-center">
                                            <span href="#">+{{survey.images.length - 5}}</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- List Item -->
                        </ul>
                    </div>
                </div>
            </li>


            <li *ngIf="answers.length > 0" class="step-item">
                <div class="step-content-wrapper">
                    <small class="step-divider">Katılımcılar: </small>
                </div>
            </li>

            <!-- Step Item -->
            <li class="step-item" *ngFor="let item of answers">
                <div class="step-content-wrapper">
                    <div class="step-avatar">
                        <img *ngIf="item.doctor.image" class="step-avatar-img" src="{{item.doctor.image.fileName}}"
                            alt="Image Description">
                        <span *ngIf="!item.doctor.image"
                            class="{{getAvatarClassByGender(item.doctor.gender)}}">{{item.doctor.name[0]}}</span>
                    </div>

                    <div class="step-content">
                        <h5 class="mb-1">
                            <a [routerLink]="['/dash/doctor',item.doctor.id]" class="text-dark"
                                href="#">{{item.doctor.title}} {{item.doctor.name}}
                                {{item.doctor.surname}}</a>
                        </h5>

                        <p class="font-size-sm">Ankete katıldı | {{item.creationAt | date:
                            'dd.MM.yyyy hh:mm:ss'}}
                        </p>

                        <ul class="list-group">
                            <!-- List Item -->
                            <li class="list-group-item list-group-item-light">
                                <div class="row gx-1">
                                    <div *ngFor="let item of item.choices.slice(0,5)" class="col">
                                        <div class="media">
                                            <span class="mt-1 mr-2">
                                                <img class="avatar avatar-sm avatar-4by3"
                                                    src="{{getImage(item.surveyImageId).fileName}}"
                                                    alt="Image Description">
                                            </span>
                                            <div class="media-body text-truncate">
                                                <span style="font-weight: bold;"
                                                    class="d-block font-size-sm text-dark text-truncate"
                                                    title="weekly-reports.xls">{{item.boxes.length}} Cevap</span>
                                                <small class="d-block text-muted">{{getSize(item.surveyImageId)}}
                                                    Bytes</small>
                                            </div>
                                        </div>
                                    </div>


                                    <div *ngIf="item.choices.length > 5" class="col-auto align-self-center">
                                        <div class="text-center">
                                            <a href="#">+{{item.choices.length-5}}</a>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <!-- End List Item -->
                        </ul>
                    </div>
                </div>
            </li>
            <!-- End Step Item -->

        </ul>
        <!-- End Step -->

        <!-- Footer -->
        <a class="btn btn-block btn-white" (click)="getNextActivityPage()" href="javascript:;">
            <i class="tio-refresh mr-1"></i> Daha fazla aktivite
        </a>
        <!-- End Footer -->
    </div>
</div>